/*

* Override Pages default styles or create your own styles here

*/
h5{
	font-weight: bold;
}
.movesp{
	margin-right: 20px;
}
.img-style{
	width: 120px !important;
	border: 1px solid #000;
}
textarea{
	width: 100% !important;
	    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}
.margin{
	margin-left: 15px;
}
.pad{
	margin-left: 8px;
}
.pads{
	padding-left: 40px;
}
.pad2{
	padding-left: 20px;
}
.pad3{
	margin-right: 15px;
}
.btnfull{
	width: 100% !important;
	margin-bottom: 5px;
}
.rowborder{
	border: 1px solid #ccc;
	border-radius: 2px;
}
input[type="radio"], input[type="checkbox"]{
	font-size: 45px;
}
.font-bold{
	font-weight: bolder !important;
}


	.upload-link {
		color: #36c;
		display: inline-block;
		*zoom: 1;
		*display: inline;
		overflow: hidden;
		position: relative;
		text-decoration: none;
		background-color: #fff;
		background-color: rgba(255,255,255,.85);
		padding: 3px 8px;
	}
		.upload-link__txt {
			z-index: 1;
			position: relative;
			border-bottom: 1px dotted #36c;
		}
			.upload-link:hover .upload-link__txt {
				color: #f00;
				border-bottom-color: #f00;
			}

		.upload-link__inp {
			top: -10px;
			right: -40px;
			z-index: 2;
			position: absolute;
			cursor: pointer;
			opacity: 0;
			filter: alpha(opacity=0);
			font-size: 50px;
		}


		.upload {
			width: 195px;
			height: 185px;
			border: 2px solid #ccc;
			position: relative;
			background-color: #fff;
			background: url(../img/userpic.gif) no-repeat;
		}
			.upload__preview {
				-webkit-transition: opacity .3s ease;
				-moz-transition: opacity .3s ease;
				transition: opacity .3s ease;
			}

			.upload__progress {
				color: #fff;
			}

			.upload__link,
			.upload__progress {
				top: 45%;
				width: 100%;
				position: absolute;
				text-align: center;
			}

			.upload__progress,
			.upload_active .upload__link { display: none; }

			.upload_active .upload__preview { opacity: .75; }
			.upload_active .upload__progress { display: block; }
	