body {
}

.form-tabs .nav-link {
    font-size: 1rem;
}

.modal-xlg {
    width: 900px !important;
    max-width: 1000px !important;
}

.required_sign {
    color: red;
}

.label {
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
    background-color: white;
}


