body {
}



.form-tabs .nav-link {
    font-size: 1rem;
}

.modal-xlg {
    width: 900px !important;
    max-width: 1000px !important;
}

table.attend tbody tr td {
    padding: 7px 7px 7px 7px !important;
}

table.attend tbody tr {
    border-bottom: 1px solid #000;
}

#attendent_form {
    margin-left: 0;
}

#attendent_form_second_layer {
    margin-left: 7.5% !important;
    right: auto;
    padding-top: 1%;
    padding-bottom: 1%;
    min-width: 86%;
}

#attendent_form_third_layer {
    margin-left: 0;
}

#list_table, #list_table2, #list_table3 td {
    font-size: 1.1vw;
}

    #list_table label {
        font-size: 1.1vw !important;
    }

    #list_table2 label {
        font-size: 1.1vw !important;
    }

#list_table3 label {
    font-size: 1.1vw !important;
}

#contactForm {
    display: none;
    border: 6px solid salmon;
    padding: 2em;
    width: 400px;
    text-align: center;
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%)
}

.formBtn, .formtext {
    margin: .8em auto;
    font-family: inherit;
    text-transform: inherit;
    font-size: inherit;
    display: block;
    padding: .4em;
}

.formtext {
    resize: none;
}

.formBtn {
    display: inline-block;
    background: teal;
    color: #fff;
    font-weight: 100;
    font-size: 1.2em;
    border: none;
    width: 70px;
}

.fa-file-text-o {
    font-size: 20px;
    color: #015093;
}


a.active {
    background-color: #015093 !important;
}

.col-md-6{
    width:50%;
}
.col-md-12 {
    width: 100%;
}
.form-check-label {
    padding-left: 1.25rem;
    margin-bottom: 0;
    cursor: pointer;
}
.form-check-inline .form-check-label {
    vertical-align: middle;
}
.form-check-inline {
    display: inline-block;
}
.form-check {
    position: relative;
    margin-bottom: .5rem;
}
.form-check-input {
    margin-left: 0;
}
label {
    font-weight: normal;
    line-height: 20px;
    display: inline-block;
}