
    body {

    }


    .form-tabs .nav-link {
        font-size: 1rem;
    }

    .modal-xlg {
        width: 900px !important;
        max-width: 1000px !important;
    }

    .pagebreak {
        page-break-before: always;
    }

    th, td {
        border-right: 2px solid darkgrey !important;
        border-bottom: 2px solid darkgrey !important;
        border-color: darkgrey !important;
    }

    th {
        border-top: 2px solid darkgrey !important;
    }

    tr td:first-child {
        border-left: 2px solid darkgrey !important;
    }
    .title2 {
        color: black !important;
        font-size: 1.5em !important;
        font-family: Times,serif !important;
    }

    .title1 {
        font-weight: bold !important;
        color: black !important;
        font-size: 1.7em !important;
        font-family: Times,serif !important;
    }


