body {
}

.form-tabs .nav-link {
    font-size: 1rem;
}

.modal-xlg {
    width: 900px !important;
    max-width: 1000px !important;
}

.texttop {
    max-width: 50% !important;
    width: 50% !important;
    margin-left: 47px;
}

.textbottom {
    max-width: 95% !important;
    width: 95% !important;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 3px 10px 3px 10px;
}

th {
    font-size: 1.3em;
}

label {
    color: black;
}

.pagebreak {
    page-break-before: always;
}
