body {
}

#pills-care .ptitle {
    font-family: Times,serif;
    font-size: 15px;
    color: rgb(0,0,0);
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
}

#pills-care p {
    margin-bottom: 5px !important;
}

#pills-care .ptitle_grey {
    font-family: Times,serif;
    font-size: 15px;
    color: rgb(0,0,0);
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    background-color: darkgrey;
    border-bottom: 1px solid black;
}

#pills-care .table_grey {
    font-family: Times,serif;
    font-size: 15px;
    color: rgb(0,0,0);
    font-weight: bold;
    text-decoration: none;
    background-color: darkgrey;
}

#pills-care table, th, td {
    border: 1px solid black;
}

#pills-care .ptitle_nocolor_noborderB {
    font-family: Times,serif;
    font-size: 15px;
    color: rgb(0,0,0);
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
}

#pills-care .ptitle_color_noborderB {
    font-family: Times,serif;
    font-size: 15px;
    color: rgb(0,0,0);
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    background-color: darkgrey;
}

.borderB {
    border-bottom: 1px solid black;
}

#pills-care .pcontent {
    font-family: Times,serif;
    font-size: 15px;
    color: rgb(0,0,0);
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}

#pills-care #page5 table td {
    font-family: Times,serif;
    font-size: 1.2em;
    color: rgb(0,0,0);
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}

#pills-care #page5 table tbody tr td:nth-child(2) {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

#pills-care #page5 table .subtitle {
    font-family: Times,serif;
    font-size: 1.4em;
    color: rgb(0,0,0);
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
}

.square_white {
    height: 20px;
    width: 20px;
    background-color: white;
    border: 1px solid black;
}

.square_grey {
    height: 20px;
    width: 20px;
    background-color: darkgrey;
    border: 1px solid black;
    margin-top: 1%;
}

#pills-care #page6 p {
    font-family: Times,serif;
    font-size: 1.2em;
    color: rgb(0,0,0);
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
}

.title2 {
    color: black !important;
    font-size: 1.5em !important;
    font-family: Times,serif !important;
}

.title1 {
    font-weight: bold !important;
    color: black !important;
    font-size: 1.7em !important;
    font-family: Times,serif !important;
}

.pagebreak {
    page-break-before: always;
}

