@RenderPage("~/Views/Shared/_Header.cshtml")
@RenderPage("~/Views/Shared/_SideBar.cshtml")
<style>

    .form-tabs .nav-link {
        font-size: 1rem;
    }

    .modal-xlg {
        width: 900px !important;
        max-width: 1000px !important;
    }
</style>
<!-- START PAGE-CONTAINER -->
<div class="page-container">

    @RenderPage("~/Views/Shared/_NavBar.cshtml")

    <!-- START PAGE CONTENT WRAPPER -->
    <div class="page-content-wrapper">
        <!-- START PAGE CONTENT -->
        <div class="content">
            <!-- START JUMBOTRON -->
            <div class="jumbotron w-100" style="position: fixed; z-index: 400">
                <div class="container-fluid container-fixed-lg">
                    <!-- <div class="inner"> -->
                    <div class="row align-items-center">
                        <div class="col-md-8">
                            <h3>Exercise Activity Report</h3>
                        </div>
                    </div>
                    <!-- </div> -->
                </div>
            </div>
            <!-- END JUMBOTRON -->
            <div style="height: 60px;"></div>
            <!-- START CONTAINER FLUID -->
            <div class="container-fluid container-fixed-lg">
                <!-- BEGIN PlACE PAGE CONTENT HERE -->
                <div class="card">
                    <div class="card-block">
                        <div class="row">
                            <div class="col-md-5">
                                <table class="table table-bordered">
                                    <thead class="bg-primary">
                                        <tr>
                                            <th class="text-white text-center"></th>
                                            <th class="text-white text-center">Baseline</th>
                                            <th class="text-white text-center">3 Month</th>
                                            <th class="text-white text-center">6 Month</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Date</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>TUG</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>VPS</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <br><br>
                        <table class="table table-bordered">
                            <thead class="bg-primary">
                                <tr>
                                    <th class="text-white text-center">Exercise</th>
                                    <th class="text-white text-center">Sunday</th>
                                    <th class="text-white text-center">Monday</th>
                                    <th class="text-white text-center">Tuesday</th>
                                    <th class="text-white text-center">Wednessday</th>
                                    <th class="text-white text-center">Thursday</th>
                                    <th class="text-white text-center">Friday</th>
                                    <th class="text-white text-center">Saturday</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int i = 0;
                                    String[] l_Excercises = { "Walking", "Wall Push-ups", "Rise Up on toes", "Toe Taps", "Seat Walk", "Get up from chair", "Leg Lift", "Reaching", "Standing Stretch", "Seated Stretch" };
                                }
                                @foreach (var excercise in l_Excercises)
                                {
                                    i++;

                                    <tr>
                                        <td class="align-middle">@i  @excercise </td>
                                        <td class="align-middle"></td>
                                        <td class="align-middle"></td>
                                        <td class="align-middle"></td>
                                        <td class="align-middle"></td>
                                        <td class="align-middle"></td>
                                        <td class="align-middle"></td>
                                        <td class="align-middle"></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- END PLACE PAGE CONTENT HERE -->
            </div>
            <!-- END CONTAINER FLUID -->
        </div>
        <!-- END PAGE CONTENT -->
        @RenderPage("~/Views/Shared/_Footer.cshtml")
