@RenderPage("~/Views/Shared/_Header.cshtml")
@RenderPage("~/Views/Shared/_SideBar.cshtml")

<style>
    .form-tabs .nav-link{
        font-size: 1rem;
    }
    .modal-xlg{
        width: 900px !important;
        max-width: 1000px !important;
    }
</style>

    <!-- START PAGE-CONTAINER -->
    <div class="page-container">
            @RenderPage("~/Views/Shared/_NavBar.cshtml")

        <!-- START PAGE CONTENT WRAPPER -->
        <div class="page-content-wrapper">
            <!-- START PAGE CONTENT -->
            <div class="content">
                <!-- START JUMBOTRON -->
                <div class="jumbotron w-100" style="position: fixed; z-index: 400">
                    <div class="container-fluid container-fixed-lg">
                        <!-- <div class="inner"> -->
                            <div class="row align-items-center">
                                <div class="col-md-8">
                                    <h3>Assessment Forms</h3>
                                </div>
                            </div>
                        <!-- </div> -->
                    </div>
                </div>
                <!-- END JUMBOTRON -->

                <div style="height: 60px;"></div>

                <!-- START CONTAINER FLUID -->
                <div class="container-fluid container-fixed-lg">
                <!-- BEGIN PlACE PAGE CONTENT HERE -->

                    <div class="card">
                        <div class="card-block">
                            
                            <div class="list-group">
                              <a href="#" class="list-group-item list-group-item-action active">
                                List of Reports
                              </a>
                              <a href="~/Reports/BowelMovementReport" class="list-group-item list-group-item-action">Bowel Movement Tracking</a>
                              <a href="~/Reports/ExerciseActivity" class="list-group-item list-group-item-action">Exercise Activity</a>
                              <a href="~/Reports/FamilyConference" class="list-group-item list-group-item-action">Family Conference Notes</a>
                              <a href="~/Reports/HeadToToeAssesment" class="list-group-item list-group-item-action">Admission Head to Toe Assessment</a>
                              <a href="~/Reports/HSEPTrackingreport" class="list-group-item list-group-item-action">HSEP Tracking Record</a>
                              <a href="~/Reports/PostFallClinicalMonitoring_A" class="list-group-item list-group-item-action">Post-Fall Clinical Monitoring A</a>
                              <a href="~/Reports/PostFallClinicalMonitoring_B" class="list-group-item list-group-item-action">Post-Fall Clinical Monitoring B</a>
                              <a href="~/Reports/ProgressNotes" class="list-group-item list-group-item-action">Progress Notes</a>
                            </div>

                        </div>
                    </div>

                
                <!-- END PLACE PAGE CONTENT HERE -->
                </div>
                <!-- END CONTAINER FLUID -->
            </div>
            <!-- END PAGE CONTENT -->

            
			       @RenderPage("~/Views/Shared/_Footer.cshtml")