@RenderPage("~/Views/Shared/_Header.cshtml")
@RenderPage("~/Views/Shared/_SideBar.cshtml")
<style>

    .form-tabs .nav-link {
        font-size: 1rem;
    }

    .modal-xlg {
        width: 900px !important;
        max-width: 1000px !important;
    }
</style>
<!-- START PAGE-CONTAINER -->
<div class="page-container">

    @RenderPage("~/Views/Shared/_NavBar.cshtml")
    <!-- START PAGE CONTENT WRAPPER -->
    <div class="page-content-wrapper">
        <!-- START PAGE CONTENT -->
        <div class="content">

            <!-- END JUMBOTRON -->

            <div style="height: 60px;"></div>

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-default print">GENERATE PDF</button>
                    </div>
                </div>
            </div>
            <br>
            <input type="hidden" value="postfallclinicalmonitoringAreport" name="" class="filename">

            <!-- START CONTAINER FLUID -->
            <div class="container-fluid container-fixed-lg" id="fromHTMLtestdiv">
                <!-- BEGIN PlACE PAGE CONTENT HERE -->


                <div class="card">
                    <div class="card-block">

                        <div class="row">
                            <div class="col-md-12">
                                <img src="~/Content/assets/img/ahs.png" class="img-responsive">

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <h5><b>Part A</b></h5>
                            </div>
                            <div class="col-md-10">
                                <p>Complete for any client that experiences a fall. Abnormal findings must be documented in narrative charting. Refer to Blood Glucose monitoring if client is diabetic.</p>
                            </div>
                        </div>

                        <table class="table table-bordered" id="myTable">
                            <thead class="">
                                <tr>
                                    <th class="colorBlack text-center">Vital Signs</th>
                                    <th class="colorBlack text-center">1st Check</td>
                                    <th class="colorBlack text-center" colspan="2">Q 30 mins * 1 hour</td>
                                    <th class="colorBlack text-center" colspan="3">Q 30 hours * 3 hours</td>
                                    <th class="colorBlack text-center" colspan="6">Q 8 hours * 48 hours</th>
                                </tr>
                            </thead>
                            <tbody style="padding: 0px">
                                <tr>
                                    <td>Date</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Time</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>BP</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Pulse</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>RESP. rate</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Temp</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>02 sat</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table table-bordered">
                            <thead class="">
                                <tr>
                                    <th class="colorBlack text-center">Pain</th>
                                    <th class="colorBlack text-center">1st Check</td>
                                    <th class="colorBlack text-center" colspan="4">Q 1 hour * 4 hours</td>
                                    <th class="colorBlack text-center" colspan="6">Q 8 hours * 48 hours</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Date</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Time</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Pain (Y/N)</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Pain Scale(0-10)</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Location</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Staff Initails</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table table-bordered">
                            <thead class="">
                                <tr>
                                    <th class="colorBlack text-center">Pain</th>
                                    <th class="colorBlack text-center">1st Check</td>
                                    <th class="colorBlack text-center" colspan="4">Q 1 hour * 4 hours</td>
                                    <th class="colorBlack text-center" colspan="6">Q 8 hours * 48 hours</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Date</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Time</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td colspan="12">Oriented to:</td>
                                </tr>
                                <tr>
                                    <td>Person</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Place</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Time</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Behaviour Change</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Confused</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Drowsy</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Restless / Agitated</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Other behaviour</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>

                        <br><br>
                        <div class="row">

                            <div class="col-md-6 ">
                                <div class="col-md-11 rowborder">

                                    <h5><u>Chest</u></h5>
                                    <div class="form-group row">
                                        <label for="staticEmail" class="col-md-2 col-form-label">Long Sounds:</label>
                                        <div class="col-md-10">
                                            <label for="staticEmail" class="pad3" style="margin-right: 25px;">Normal:</label>
                                            <div class="form-check form-check-inline movesp" ">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                                <label class="form-check-label checkspace " for="inlineRadio1">Yes</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                                <label class="form-check-label checkspace " for="inlineRadio2">No</label>
                                            </div><br>
                                            <div class="form-group row">
                                                <label for="staticEmail" class="col-md-3 col-form-label">Describe</label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" id="staticEmail">
                                                </div>
                                            </div>
                                            <label for="staticEmail" class="pad3" style="margin-right: 25px;">Equal:</label>
                                            <div class="form-check form-check-inline movesp" ">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                                <label class="form-check-label checkspace " for="inlineRadio1">Yes</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                                <label class="form-check-label checkspace " for="inlineRadio2">No</label>
                                            </div><br>

                                        </div>
                                    </div><br>

                                    <div class="form-group row">
                                        <label for="staticEmail" class="col-md-2 col-form-label">Chest:</label>
                                        <div class="col-md-10">
                                            <div class="form-check form-check-inline movesp" ">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                                <label class="form-check-label checkspace " for="inlineRadio1">Normal</label>
                                            </div><br>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                                <label class="form-check-label checkspace " for="inlineRadio2">Bruising</label>
                                            </div><br>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                                <label class="form-check-label checkspace " for="inlineRadio2">Swelling</label>
                                            </div><br>
                                            <div class="form-group row">
                                                <label for="staticEmail" class="col-md-3 col-form-label">Other</label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" id="staticEmail">
                                                </div>
                                            </div>


                                        </div>
                                    </div><br>

                                    <div class="form-group row">
                                        <label for="staticEmail" class="col-md-2 col-form-label">Heart Sounds:</label>
                                        <div class="col-md-10">
                                            <div class="form-check form-check-inline movesp" ">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                                <label class="form-check-label checkspace" for="inlineRadio1">Normal?</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                                <label class="form-check-label checkspace" for="inlineRadio2">Abnormal</label>
                                            </div><br>


                                            <div class="form-group row">
                                                <label for="staticEmail" class="col-md-3 col-form-label">Describe</label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" id="staticEmail">
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>


                            </div>

                            <!--  -->

                            <div class="col-md-6 rowborder">

                                <div class="col-md-11">

                                    <h5><u>Abdomen</u></h5>
                                    <div class="form-group row">
                                        <label for="staticEmail" class="col-md-2 col-form-label">Soft</label>
                                        <div class="col-md-10">

                                            <div class="form-check form-check-inline movesp" ">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                                <label class="form-check-label checkspace" for="inlineRadio1">Yes</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                                <label class="form-check-label checkspace" for="inlineRadio2">No</label>
                                            </div><br>
                                            <div class="form-group row">
                                                <label for="staticEmail" class="col-md-3 col-form-label">Describe</label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" id="staticEmail">
                                                </div>
                                            </div>

                                        </div>
                                    </div><br>

                                    <div class="form-group row">
                                        <label for="staticEmail" class="col-md-2 col-form-label">Painful</label>
                                        <div class="col-md-10">

                                            <div class="form-check form-check-inline movesp" ">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                                <label class="form-check-label checkspace" for="inlineRadio1">Yes</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                                <label class="form-check-label checkspace" for="inlineRadio2">No</label>
                                            </div><br>
                                            <div class="form-group row">
                                                <label for="staticEmail" class="col-md-3 col-form-label">Describe</label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" id="staticEmail">
                                                </div>
                                            </div>

                                        </div>
                                    </div><br>

                                    <div class="form-group row">
                                        <label for="staticEmail" class="col-md-2 col-form-label">Bowel Sounds heard?</label>
                                        <div class="col-md-10">

                                            <div class="form-check form-check-inline movesp" ">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                                <label class="form-check-label checkspace" for="inlineRadio1">Yes</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                                <label class="form-check-label checkspace" for="inlineRadio2">No</label>
                                            </div>

                                        </div>
                                    </div><br>

                                    <div class="form-group row">
                                        <label for="staticEmail" class="col-md-2 col-form-label">Last Bowel Movement:</label>
                                        <div class="col-md-10">

                                            <div class="form-group row">
                                                <label for="staticEmail" class="col-md-3 col-form-label">Date</label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" id="staticEmail">
                                                </div>
                                            </div>

                                        </div>
                                    </div><br>

                                    <div class="form-group row">
                                        <label for="staticEmail" class="col-md-2 col-form-label">Voiding Normal?</label>
                                        <div class="col-md-10">

                                            <div class="form-check form-check-inline movesp" ">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                                <label class="form-check-label checkspace" for="inlineRadio1">Yes</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                                <label class="form-check-label checkspace" for="inlineRadio2">No</label>
                                            </div>
                                            <br>
                                            <div class="form-group row">
                                                <label for="staticEmail" class="col-md-3 col-form-label">Describe</label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" id="staticEmail">
                                                </div>
                                            </div>
                                            <br>
                                            <div class="form-check form-check-inline movesp" ">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                                <label class="form-check-label checkspace" for="inlineRadio1">Continent</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                                <label class="form-check-label checkspace" for="inlineRadio2">incontinent</label>
                                            </div><br>
                                            <div class="form-group row">
                                                <label for="staticEmail" class="col-md-3 col-form-label">incontinent Pads Used</label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" id="staticEmail">
                                                </div>
                                            </div>
                                            <div class="form-check form-check-inline movesp" ">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                                <label class="form-check-label checkspace" for="inlineRadio1">Cather?</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                                <label class="form-check-label checkspace" for="inlineRadio2">Other</label>
                                            </div><br>

                                        </div>
                                    </div><br>

                                </div>


                            </div>

                        </div>

                        <br><br>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="col-md-11 rowborder">

                                    <h5><u>Edema</u></h5>
                                    <div class="form-group row">
                                        <label for="staticEmail" class="col-md-2 col-form-label">Feet:</label>
                                        <div class="col-md-10">
                                            <label for="staticEmail" class="pad3" style="margin-right: 25px;">Normal:</label>
                                            <div class="form-check form-check-inline movesp" ">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                                <label class="form-check-label checkspace" for="inlineRadio1">Yes</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                                <label class="form-check-label checkspace" for="inlineRadio2">No</label>
                                            </div><br>
                                            <div class="form-group row">
                                                <label for="staticEmail" class="col-md-3 col-form-label">Describe</label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" id="staticEmail">
                                                </div>
                                            </div><br>
                                            <div class="form-check form-check-inline movesp" ">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                                <label class="form-check-label checkspace" for="inlineRadio1">Left</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                                <label class="form-check-label checkspace" for="inlineRadio2">Right</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                                <label class="form-check-label checkspace" for="inlineRadio2">Pitting</label>
                                            </div>

                                        </div>
                                    </div><br>

                                    <div class="form-group row">
                                        <label for="staticEmail" class="col-md-2 col-form-label">Hands:</label>
                                        <div class="col-md-10">
                                            <label for="staticEmail" class="pad3" style="margin-right: 25px;">Normal:</label>
                                            <div class="form-check form-check-inline movesp" ">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                                <label class="form-check-label checkspace" for="inlineRadio1">Yes</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                                <label class="form-check-label checkspace" for="inlineRadio2">No</label>
                                            </div><br>
                                            <div class="form-group row">
                                                <label for="staticEmail" class="col-md-3 col-form-label">Describe</label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" id="staticEmail">
                                                </div>
                                            </div><br>
                                            <div class="form-check form-check-inline movesp" ">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                                <label class="form-check-label checkspace" for="inlineRadio1">Left</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                                <label class="form-check-label checkspace" for="inlineRadio2">Right</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                                <label class="form-check-label checkspace" for="inlineRadio2">Pitting</label>
                                            </div>

                                        </div>
                                    </div><br>

                                    <div class="form-group row">
                                        <label for="staticEmail" class="col-md-2 col-form-label">Other:</label>
                                        <div class="col-md-10">
                                            <div class="form-check form-check-inline movesp" ">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                                <label class="form-check-label checkspace" for="inlineRadio1">No?</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                                <label class="form-check-label checkspace" for="inlineRadio2">Yes</label>
                                            </div><br>


                                            <div class="form-group row">
                                                <label for="staticEmail" class="col-md-3 col-form-label">Describe</label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" id="staticEmail">
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-md-11 rowborder">

                                    <h5><u>Skin</u></h5>
                                    <div class="form-group row">
                                        <label for="staticEmail" class="col-md-2 col-form-label">Feet:</label>
                                        <div class="col-md-10">
                                            <div class="form-check form-check-inline movesp" ">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                                <label class="form-check-label checkspace" for="inlineRadio1">No</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                                <label class="form-check-label checkspace" for="inlineRadio2">Yes</label>
                                            </div><br>
                                            <div class="form-group row">
                                                <label for="staticEmail" class="col-md-3 col-form-label">Describe</label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" id="staticEmail">
                                                </div>
                                            </div><br>

                                        </div>
                                    </div><br>

                                    <div class="form-group row">
                                        <label for="staticEmail" class="col-md-2 col-form-label">Rashes:</label>
                                        <div class="col-md-10">
                                            <div class="form-check form-check-inline movesp" ">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                                <label class="form-check-label checkspace" for="inlineRadio1">No</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                                <label class="form-check-label checkspace" for="inlineRadio2">Yes</label>
                                            </div><br>

                                        </div>
                                    </div><br>

                                    <div class="form-group row">
                                        <label for="staticEmail" class="col-md-2 col-form-label">Redness:</label>
                                        <div class="col-md-10">
                                            <div class="form-check form-check-inline movesp" ">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                                <label class="form-check-label checkspace" for="inlineRadio1">No</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                                <label class="form-check-label checkspace" for="inlineRadio2">Yes</label>
                                            </div><br>

                                        </div>
                                    </div><br>

                                    <div class="form-group row">
                                        <label for="staticEmail" class="col-md-2 col-form-label">Bruising:</label>
                                        <div class="col-md-10">
                                            <div class="form-check form-check-inline movesp" ">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                                <label class="form-check-label checkspace" for="inlineRadio1">No</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                                <label class="form-check-label checkspace" for="inlineRadio2">Yes</label>
                                            </div><br>

                                        </div>
                                    </div><br>

                                    <div class="form-group row">
                                        <label for="staticEmail" class="col-md-2 col-form-label">Open Areas:</label>
                                        <div class="col-md-10">
                                            <div class="form-check form-check-inline movesp" ">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                                <label class="form-check-label checkspace" for="inlineRadio1">No</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                                <label class="form-check-label checkspace" for="inlineRadio2">Yes</label>
                                            </div><br>

                                        </div>
                                    </div><br>

                                    <div class="form-group row">
                                        <label for="staticEmail" class="col-md-5 col-form-label">Describe Abnormal areas:</label>
                                        <div class="col-md-7">
                                            <input type="text" class="form-control" id="staticEmail">


                                        </div>
                                    </div><br>

                                    <div class="form-group row">
                                        <label for="staticEmail" class="col-md-2 col-form-label">Wound / Dressing?</label>
                                        <div class="col-md-10">
                                            <div class="form-check form-check-inline movesp" ">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                                <label class="form-check-label checkspace" for="inlineRadio1">No</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                                <label class="form-check-label checkspace" for="inlineRadio2">Yes</label>
                                            </div><br>

                                        </div>
                                    </div><br>


                                    <div class="form-group row">
                                        <label for="staticEmail" class="col-md-2 col-form-label">Describe</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" id="staticEmail">


                                        </div>
                                    </div><br>

                                </div>
                            </div>
                        </div>
                        <br><br><br><br><br><br><br><br>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="col-md-11 rowborder">

                                    <h5><u>Pain Assessment</u></h5>
                                    <div class="form-group row">
                                        <label for="staticEmail" class="col-md-2 col-form-label">Resident having Pain:</label>
                                        <div class="col-md-10">
                                            <div class="form-check form-check-inline movesp" ">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                                <label class="form-check-label checkspace" for="inlineRadio1">No</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                                <label class="form-check-label checkspace" for="inlineRadio2">Yes</label>
                                            </div><br>
                                            <div class="form-group row">
                                                <label for="staticEmail" class="col-md-3 col-form-label">Describe</label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" id="staticEmail">
                                                </div>
                                            </div><br>

                                        </div>
                                    </div><br>

                                    <div class="form-group row">
                                        <label for="staticEmail" class="col-md-5 col-form-label">Pain Scale 1(less)-10(worst)</label>
                                        <div class="col-md-7">
                                            <input type="text" class="form-control" id="staticEmail">


                                        </div>
                                    </div><br>

                                    <div class="form-group row">
                                        <label for="staticEmail" class="col-md-2 col-form-label">Pain Qaulity:</label>
                                        <div class="col-md-10">


                                        </div>
                                    </div><br>

                                    <div class="form-group row">
                                        <label for="staticEmail" class="col-md-2 col-form-label">Aching:</label>
                                        <div class="col-md-10">
                                            <div class="form-check form-check-inline movesp" ">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                                <label class="form-check-label checkspace" for="inlineRadio1">No</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                                <label class="form-check-label checkspace" for="inlineRadio2">Yes</label>
                                            </div><br>

                                        </div>
                                    </div><br>

                                    <div class="form-group row">
                                        <label for="staticEmail" class="col-md-2 col-form-label">Sharp:</label>
                                        <div class="col-md-10">
                                            <div class="form-check form-check-inline movesp" ">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                                <label class="form-check-label checkspace" for="inlineRadio1">No</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                                <label class="form-check-label checkspace" for="inlineRadio2">Yes</label>
                                            </div><br>

                                        </div>
                                    </div><br>

                                    <div class="form-group row">
                                        <label for="staticEmail" class="col-md-2 col-form-label">Dull:</label>
                                        <div class="col-md-10">
                                            <div class="form-check form-check-inline movesp" ">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                                <label class="form-check-label checkspace" for="inlineRadio1">No</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                                <label class="form-check-label checkspace" for="inlineRadio2">Yes</label>
                                            </div><br>

                                        </div>
                                    </div><br>

                                    <div class="form-group row">
                                        <label for="staticEmail" class="col-md-2 col-form-label">Radiating:</label>
                                        <div class="col-md-10">
                                            <div class="form-check form-check-inline movesp" ">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                                <label class="form-check-label checkspace" for="inlineRadio1">No</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                                <label class="form-check-label checkspace" for="inlineRadio2">Yes</label>
                                            </div><br>

                                        </div>
                                    </div><br>

                                    <div class="form-group row">
                                        <label for="staticEmail" class="col-md-3 col-form-label">Where</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" id="staticEmail">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="staticEmail" class="col-md-5 col-form-label">What makes it better:</label>
                                        <div class="col-md-7">
                                            <input type="text" class="form-control" id="staticEmail">


                                        </div>
                                    </div><br>

                                    <div class="form-group row">
                                        <label for="staticEmail" class="col-md-5 col-form-label">What makes it worst:</label>
                                        <div class="col-md-7">
                                            <input type="text" class="form-control" id="staticEmail">


                                        </div>
                                    </div><br>

                                    <div class="form-group row">
                                        <label for="staticEmail" class="col-md-5 col-form-label">Does the pain interface with ADL's:</label>
                                        <div class="col-md-7">
                                            <div class="form-check form-check-inline movesp" ">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                                <label class="form-check-label checkspace" for="inlineRadio1">No</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                                <label class="form-check-label checkspace" for="inlineRadio2">Yes</label>
                                            </div><br>

                                        </div>
                                    </div><br>

                                    <div class="form-group row">
                                        <label for="staticEmail" class="col-md-5 col-form-label">Describe:</label>
                                        <div class="col-md-7">
                                            <input type="text" class="form-control" id="staticEmail">


                                        </div>
                                    </div><br>

                                    <div class="form-group row">
                                        <label for="staticEmail" class="col-md-5 col-form-label">Other:</label>
                                        <div class="col-md-7">
                                            <input type="text" class="form-control" id="staticEmail">


                                        </div>
                                    </div><br>

                                </div>
                            </div>
                        </div>


                    </div>
                </div>


                <!-- END PLACE PAGE CONTENT HERE -->
            </div>
            <!-- END CONTAINER FLUID -->
        </div>
        <!-- END PAGE CONTENT -->

        @RenderPage("~/Views/Shared/_Footer.cshtml")
