<!-- START FOOTER -->
<div class="container-fluid container-fixed-lg footer">
    <div class="copyright sm-text-center">
        <p class="small no-margin pull-left sm-pull-reset">
            <span class="hint-text">Copyright © 2018</span>
            <span class="font-montserrat">Qola</span>.
            <span class="hint-text">All rights reserved.</span>
            <!-- <span class="sm-block"><a href="#" class="m-l-10 m-r-10">Terms of use</a> | <a href="#" class="m-l-10">Privacy Policy</a>   </span>-->
        </p>
        <div class="small no-margin pull-right sm-pull-reset">
            <!-- <img alt="" class="m-t-5" data-src="assets/img/qola_logo.png" data-src-retina="assets/img/qola_logo_2x.png" height="30" src="assets/img/qola_logo.png" width="30"> -->
            <!-- <a href="#">Hand-crafted</a>
            <span class="hint-text">&amp; Made with Love ®</span> -->
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- END FOOTER -->
      </div>
<!-- END PAGE CONTENT WRAPPER -->
    </div>
<!-- END PAGE CONTAINER -->
<!-- BEGIN VENDOR JS -->
<!-- BEGIN VENDOR JS -->
<script src="~/Content/assets/plugins/pace/pace.min.js" type="text/javascript"></script>
<script src="~/Content/assets/plugins/jquery/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="~/Content/assets/plugins/modernizr.custom.js" type="text/javascript"></script>
<script src="~/Content/assets/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
<script src="~/Content/assets/plugins/tether/js/tether.min.js" type="text/javascript"></script>
<script src="~/Content/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="~/Content/assets/plugins/jquery/jquery-easy.js" type="text/javascript"></script>
<script src="~/Content/assets/plugins/jquery-unveil/jquery.unveil.min.js" type="text/javascript"></script>
<script src="~/Content/assets/plugins/jquery-bez/jquery.bez.min.js"></script>
<script src="~/Content/assets/plugins/jquery-ios-list/jquery.ioslist.min.js" type="text/javascript"></script>
<script src="~/Content/assets/plugins/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="~/Content/assets/plugins/jquery-actual/jquery.actual.min.js"></script>
<script src="~/Content/assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js"></script>
<!-- END VENDOR JS -->
<!-- BEGIN CORE TEMPLATE JS -->
<script src="~/Content/pages/js/pages.js" type="text/javascript"></script>
<!-- END CORE TEMPLATE JS -->
<!-- BEGIN PAGE LEVEL JS -->
<script src="~/Content/assets/js/scripts.js" type="text/javascript"></script>
<!-- END PAGE LEVEL JS -->
<script src="~/Content/assets/js/FileAPI/FileAPI.js"></script>
<script src="~/Content/assets/js/datatables.min.js"></script>

<!-- END VENDOR JS -->
<script>


    $('.searchresidents').keyup(function () {
        val = $(this).val();
        if (val.length > 1) {
            $('.searchboxresult').empty();
            $.get("/Residents/Search/", { term: val }, function (data) {
                console.log(data);
                for (var i = 0; i < data.length; i++) {
                    $('.searchboxresult').append('<a href="/Home/ResidentMenu/?p_ResidentId=' + data[i][4].Value + '" class="list-group-item list-group-item-action">' +
                        '<img src="/Content/assets/' + data[i][5].Value + '" class="searchimg">' +
                        '<p class="ml-3">' + data[i][0].Value + '<br></p>' +
                        '</a>');
                    //alert(data[i][0].Value);
                }
            });
            $('.searchBox').show();
        } else {
            $('.searchBox').hide();
        }


    })


</script>

<!-- BEGIN CORE TEMPLATE JS -->
<script src="~/Content/pages/js/pages.js" type="text/javascript"></script>
<!-- END CORE TEMPLATE JS -->
<!-- BEGIN PAGE LEVEL JS -->
<script src="~/Content/assets/js/scripts.js" type="text/javascript"></script>
  </body>
</html>