<!-- START FOOTER -->
<div class="container-fluid container-fixed-lg footer">
    <div class="copyright sm-text-center">
        <p class="small no-margin pull-left sm-pull-reset">
            <span class="hint-text">Copyright © 2018</span>
            <span class="font-montserrat">Qola</span>.
            <span class="hint-text">All rights reserved.</span>
            <!-- <span class="sm-block"><a href="#" class="m-l-10 m-r-10">Terms of use</a> | <a href="#" class="m-l-10">Privacy Policy</a>   </span>-->
        </p>
        <div class="small no-margin pull-right sm-pull-reset">
            <!-- <img alt="" class="m-t-5" data-src="assets/img/qola_logo.png" data-src-retina="assets/img/qola_logo_2x.png" height="30" src="assets/img/qola_logo.png" width="30"> -->
            <!-- <a href="#">Hand-crafted</a>
            <span class="hint-text">&amp; Made with Love ®</span> -->
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- END FOOTER -->
      </div>
<!-- END PAGE CONTENT WRAPPER -->
    </div>
<!-- END PAGE CONTAINER -->
<!-- BEGIN VENDOR JS -->
<!-- BEGIN VENDOR JS -->
<script src="~/Content/assets/plugins/pace/pace.min.js" type="text/javascript"></script>
<script src="~/Content/assets/plugins/jquery/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="~/Content/assets/plugins/modernizr.custom.js" type="text/javascript"></script>
<script src="~/Content/assets/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
<script src="~/Content/assets/plugins/tether/js/tether.min.js" type="text/javascript"></script>
<script src="~/Content/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="~/Content/assets/plugins/jquery/jquery-easy.js" type="text/javascript"></script>
<script src="~/Content/assets/plugins/jquery-unveil/jquery.unveil.min.js" type="text/javascript"></script>
<script src="~/Content/assets/plugins/jquery-bez/jquery.bez.min.js"></script>
<script src="~/Content/assets/plugins/jquery-ios-list/jquery.ioslist.min.js" type="text/javascript"></script>
<script src="~/Content/assets/plugins/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="~/Content/assets/plugins/jquery-actual/jquery.actual.min.js"></script>
<script src="~/Content/assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js"></script>
<!-- END VENDOR JS -->
<!-- BEGIN CORE TEMPLATE JS -->
<script src="~/Content/pages/js/pages.js" type="text/javascript"></script>
<!-- END CORE TEMPLATE JS -->
<!-- BEGIN PAGE LEVEL JS -->
<script src="~/Content/assets/js/scripts.js" type="text/javascript"></script>
<!-- END PAGE LEVEL JS -->
<script src="~/Content/assets/js/FileAPI/FileAPI.js"></script>
<script src="~/Content/assets/js/datatables.min.js"></script>
<script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="~/Content/assets/js/html2canvas.js" crossorigin="anonymous"></script>
<!-- uploding of file -->
<script>
    $('.searchresidents').keyup(function () {
        val = $(this).val();
        if (val.length > 1) {
            $('.searchboxresult').empty();
            $.get("/Residents/Search/", { term: val }, function (data) {
                console.log(data);
                for (var i = 0; i < data.length; i++) {
                    $('.searchboxresult').append('<a href="/Home/ResidentMenu/?p_ResidentId=' + data[i][4].Value + '" class="list-group-item list-group-item-action">' +
                        '<img src="/Content/assets/' + data[i][5].Value + '" class="searchimg">' +
                        '<p class="ml-3">' + data[i][0].Value + '<br></p>' +
                        '</a>');
                }
                if (data.length == 0) {
                    $('.searchboxresult').append('No resident found with the specified name/room number');
                }
            });
            $('.searchBox').show();
        } else {
            $('.searchBox').hide();
        }


    })
</script>




<script>
    $('.searchresidents2').keyup(function () {
        val = $(this).val();
        if (val.length > 1) {
            $('.searchboxresult').empty();
            $.get("/Residents/Search/", { term: val }, function (data) {
                console.log(data);
                for (var i = 0; i < data.length; i++) {
                    $('.searchboxresult').append('<a href="/Residents/SuiteHandler/?p_ResidentId=' + data[i][4].Value + '" class="list-group-item list-group-item-action">' +
                        '<img src="/Content/assets/' + data[i][5].Value + '" class="searchimg">' +
                        '<p class="ml-3">' + data[i][0].Value + '<br></p>' +
                        '</a>');
                }
                if (data.length == 0) {
                    $('.searchboxresult').append('No resident found with the specified name/room number');
                }
            });
            $('.searchBox').show();
        } else {
            $('.searchBox').hide();
        }


    })
</script>





<script>
    $('.print').click(function () {

        var srcEl = document.getElementById("fromHTMLtestdiv");
        var scaleFactor = 2;

        var originalWidth = srcEl.offsetWidth;
        var originalHeight = srcEl.offsetHeight;
        // Force px size (no %, EMs, etc)
        srcEl.style.width = originalWidth + "px";
        srcEl.style.height = originalHeight + "px";

        // Position the element at the top left of the document because of bugs in html2canvas. The bug exists when supplying a custom canvas, and   //the rendering on the custom canvas based on the offset of the source element on the page; thus the source element MUST be at 0, 0.
        // See html2canvas issues #790, #820, #893, #922
        srcEl.style.position = "absolute";
        srcEl.style.top = "0";
        srcEl.style.left = "0";

        // Create scaled canvas
        var scaledCanvas = document.createElement("canvas");
        scaledCanvas.width = originalWidth * scaleFactor;
        scaledCanvas.height = originalHeight * scaleFactor;
        scaledCanvas.style.width = originalWidth + "px";
        scaledCanvas.style.height = originalHeight + "px";
        var scaledContext = scaledCanvas.getContext("2d");
        scaledContext.scale(scaleFactor, scaleFactor);

        html2canvas(srcEl, { canvas: scaledCanvas })
            .then(function (canvas) {
                var imgData = canvas.toDataURL('image/png');
                var imgWidth = 210;
                var pageHeight = 295;
                var imgHeight = canvas.height * imgWidth / canvas.width;
                var heightLeft = imgHeight;

                var doc = new jsPDF('p', 'mm');
                var position = 0;

                doc.addImage(imgData, 'PNG', 0, position, imgWidth, imgHeight);
                doc.setTextColor('#000');
                var context = canvas.getContext('2d');
                context.scale(2, 2);
                heightLeft -= pageHeight;

                while (heightLeft >= 0) {
                    position = heightLeft - imgHeight;
                    doc.addPage();
                    doc.addImage(imgData, 'JPEG', 0, position, imgWidth, imgHeight);
                    var context = canvas.getContext('2d');
                    context.scale(2, 2);
                    doc.setTextColor('#000');
                    heightLeft -= pageHeight;
                }
                var filename = $('.filename').val();
                doc.save(filename + '.pdf');
            });

    })


</script>
<!-- END VENDOR JS -->
<!-- BEGIN CORE TEMPLATE JS -->
<script src="~/Content/pages/js/pages.js" type="text/javascript"></script>
<!-- END CORE TEMPLATE JS -->
<!-- BEGIN PAGE LEVEL JS -->
<script src="~/Content/assets/js/scripts.js" type="text/javascript"></script>
  </body>
</html>