<td><input type="text" name="firstcheck" class="form-control" id="staticEmail"></td>
<td><input type="text" name="onehourfirstcheck" class="form-control" id="staticEmail"></td>
<td><input type="text" name="onehoursecondcheck" class="form-control" id="staticEmail"></td>
<td><input type="text" name="threehoursfirstcheck" class="form-control" id="staticEmail"></td>
<td><input type="text" name="threehourssecondcheck" class="form-control" id="staticEmail"></td>
<td><input type="text" name="threehoursthirdcheck" class="form-control" id="staticEmail"></td>
<td><input type="text" name="fourtyeighthoursfirstcheck" class="form-control" id="staticEmail"></td>
<td><input type="text" name="fourtyeighthourssecondcheck" class="form-control" id="staticEmail"></td>
<td><input type="text" name="fourtyeighthoursthirdcheck" class="form-control" id="staticEmail"></td>
<td><input type="text" name="fourtyeighthoursfourthcheck" class="form-control" id="staticEmail"></td>
<td><input type="text" name="fourtyeighthoursfifthcheck" class="form-control" id="staticEmail"></td>
