<style>
    .zoom:hover {
        transform: scale(2.5);
    }
</style>
<td><input type="text" name="firstcheck" class="form-control zoom" id="staticEmail"></td>
<td><input type="text" name="onehourfirstcheck" class="form-control zoom" id="staticEmail"></td>
<td><input type="text" name="onehoursecondcheck" class="form-control zoom" id="staticEmail"></td>
<td><input type="text" name="threehoursfirstcheck" class="form-control zoom" id="staticEmail"></td>
<td><input type="text" name="threehourssecondcheck" class="form-control zoom" id="staticEmail"></td>
<td><input type="text" name="threehoursthirdcheck" class="form-control zoom" id="staticEmail"></td>
<td><input type="text" name="fourtyeighthoursfirstcheck" class="form-control zoom" id="staticEmail"></td>
<td><input type="text" name="fourtyeighthourssecondcheck" class="form-control zoom" id="staticEmail"></td>
<td><input type="text" name="fourtyeighthoursthirdcheck" class="form-control zoom" id="staticEmail"></td>
<td><input type="text" name="fourtyeighthoursfourthcheck" class="form-control zoom" id="staticEmail"></td>
<td><input type="text" name="fourtyeighthoursfifthcheck" class="form-control zoom" id="staticEmail"></td>
