@model QolaMVC.Models.MasterDetails

<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">

    <div class="row">

        <form id="frmPartA" name="frmPartA">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <br><br>
                            <h5><u>Chest</u></h5>
                         </div>

                    </div>
                      
                    <div class="form-group row">
                        <label for="" class="col-md-2 font-bold col-form-label">Long Sounds:</label>
                        <div class="col-md-10">
                            <label for="" class="pad3" style="margin-right: 25px;">Normal:</label>
                               Yes: <input name="c_longsound_normal" type="radio" value="Yes" required="true" />
                            No: <input  name="c_longsound_normal" type="radio" value="No" required="true" />

                            <br>
                            <div class="form-group row">
                                <label for="" class="col-md-1 col-form-label">Describe</label>
                                <div class="col-md-6">
                                    <input type="text" name="c_longsound_describe" class="form-control" id="c_longsound_describe">

                                </div>
                            </div>
                            <label for="" class="pad3" style="margin-right: 25px;">Equal:</label>
                             Yes: <input id="c_longsound_equal" name="c_longsound_equal" type="radio" value="Yes" required="true" />
                             No: <input id="c_longsound_equal" name="c_longsound_equal" type="radio" value="No" required="true" />

                            <br>
                        </div>
                    </div><br>
                    <div class="form-group row">
                        <label for="" class="col-md-2 font-bold col-form-label">Chest:</label>
                        <div class="form-check form-check-inline">
                            <div class="col-md-10">
                                <div class="form-check form-check-inline">
                                     <input type="checkbox" id="c_c" name="c_c" value="NORMAL" />
                                    <label for="optionId">NORMAL</label>
                                </div><br>
                                <div class="form-check form-check-inline">
                                    <input type="checkbox" id="c_c" name="c_c" value="BRUISING" />
                                    <label for="optionId">BRUISING</label>
                                </div><br>
                                <div class="form-check form-check-inline">
                                    <input type="checkbox" id="c_c" name="c_c" value="SWELLING" />
                                    <label for="optionId">SWELLING</label>
                                </div><br>

                            </div>
                        </div>
                    </div><br>
                    <div class="form-group row">
                        <label for="" class="col-md-1 col-form-label">Other</label>
                        <div class="col-md-6">
                            <input type="text" name="c_c_other" class="form-control" id="c_c_other" />
                        </div>
                    </div><br>
                    <div class="form-group row">
                        <label for="" class="col-md-2 font-bold col-form-label">Heart Sounds:</label>
                        <div class="col-md-10">
                            <div class="form-check form-check-inline ">
                                  NORMAL?: <input id="c_heartsound" name="c_heartsound" type="radio" value="NORMAL?" required="true" />
                            </div>
                            <div class="form-check form-check-inline">
                                ABNORMAL: <input id="c_heartsound" name="c_heartsound" type="radio" value="ABNORMAL" required="true" />
                            </div><br>
                        </div>
                    </div><br>

                    <div class="form-group row">
                        <label for="" class="col-md-1 col-form-label">Describe</label>
                        <div class="col-md-6">
                            <input type="text" name="c_heartsound_describe" class="form-control" id="c_heartsound_describe">
                        </div>
                    </div>
                </div>
                <br><br>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <br><br>
                            <h5><u>Abdomen</u></h5>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="" class="col-md-2 font-bold col-form-label">Soft</label>
                        <div class="col-md-10">
                            <div class="form-check form-check-inline ">
                                Yes: <input id="a_soft" name="a_soft" type="radio" value="Yes" required="true" />
                            </div>
                            <div class="form-check form-check-inline">
                                 No: <input id="a_soft" name="a_soft" type="radio" value="No" required="true" />
                            </div><br>
                            <div class="form-group row">
                                <label for="" class="col-md-1 col-form-label">Describe</label>
                                <div class="col-md-6">
                                    <input type="text" name="a_soft_describe" class="form-control" id="a_soft_describe">
                                </div>
                            </div>
                        </div>
                    </div><br>
                    <div class="form-group row">
                        <label for="" class="col-md-2 font-bold col-form-label">pful</label>
                        <div class="col-md-10">
                            <div class="form-check form-check-inline ">
                                Yes: <input id="a_pful" name="a_pful" type="radio" value="Yes" required="true" />
                            </div>
                            <div class="form-check form-check-inline">
                                  No: <input id="a_pful" name="a_pful" type="radio" value="No" required="true" />
                            </div><br>
                            <div class="form-group row">
                                <label for="" class="col-md-1 col-form-label">Describe</label>
                                <div class="col-md-6">
                                    <input type="text" name="a_pful_describe" class="form-control" id="a_pful_describe">
                                </div>
                            </div>
                        </div>
                    </div><br>

                    <div class="form-group row">
                        <label for="" class="col-md-2 font-bold col-form-label">Bowel Sounds heard?</label>
                        <div class="col-md-10">

                            <div class="form-check form-check-inline ">
                                Yes: <input id="a_bowelsound" name="a_bowelsound" type="radio" value="Yes" required="true" />
                            </div>
                            <div class="form-check form-check-inline">
                                No: <input id="a_bowelsound" name="a_bowelsound" type="radio" value="No" required="true" />
                            </div><br>
                        </div>
                    </div><br>
                    <div class="form-group row">
                        <label for="" class="col-md-2 font-bold col-form-label">Last Bowel Movement:</label>
                        <div class="col-md-10">

                            <div class="form-group row">
                                <label for="" class="col-md-1 col-form-label">Date</label>
                                <div class="col-md-6">
                                    <input type="text" name="a_lastbowel_date" id="a_lastbowel_date" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div><br>
                    <div class="form-group row">
                        <label for="" class="col-md-2 font-bold col-form-label">Voiding Normal?</label>
                        <div class="col-md-10">
                            <div class="form-check form-check-inline ">
                                Yes: <input id="a_voidingnormal" name="a_voidingnormal" type="radio" value="Yes" required="true" />
                            </div>
                            <div class="form-check form-check-inline">
                                No: <input id="a_voidingnormal" name="a_voidingnormal" type="radio" value="No" required="true" />
                            </div><br>
                            <div class="form-group row">
                                <label for="" class="col-md-1 col-form-label">Describe</label>
                                <div class="col-md-6">
                                    <input type="text" name="a_voidingnormal_describe" id="a_voidingnormal_describe" class="form-control">
                                </div>
                            </div>
                            <br>
                            <div class="form-check form-check-inline ">
                                CONTINENT: <input id="a_voidingnormal1" name="a_voidingnormal1" type="radio" value="CONTINENT" required="true" />
                            </div>
                            <div class="form-check form-check-inline">
                                INCONTINENT: <input id="a_voidingnormal1" name="a_voidingnormal1" type="radio" value="INCONTINENT" required="true" />
                            </div><br>
                            <div class="form-group row">
                                <label for="" class="col-md-1 col-form-label">incontinent Pads Used</label>
                                <div class="col-md-10">
                                    <input type="text" name="a_voidingnormal_pads" id="a_voidingnormal_pads" class="form-control">
                                </div>
                            </div>
                            <div class="form-check form-check-inline ">
                                CATHER?: <input id="c_heartsound" name="a_voidingnormal2" type="radio" value="CATHER?" required="true" />
                            </div>
                            <div class="form-check form-check-inline">
                                OTHER: <input id="c_heartsound" name="a_voidingnormal2" type="radio" value="OTHER" required="true" />
                            </div><br>

                        </div>
                    </div><br>

                </div>

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <br><br>
                            <h5><u>Edema</u></h5>
                        </div>

                    </div>
                    <div class="form-group row">
                        <label for="" class="col-md-2 font-bold col-form-label">Feet:</label>
                        <div class="col-md-10">
                            <label for="" class="pad3" style="margin-right: 25px;">Normal:</label>
                            <div class="form-check form-check-inline ">
                                Yes: <input id="edema_feet_normal" name="edema_feet_normal" type="radio" value="Yes" required="true" />
                            </div>
                            <div class="form-check form-check-inline">
                                No: <input id="edema_feet_normal" name="edema_feet_normal" type="radio" value="No" required="true" />
                            </div><br>

                            <div class="form-group row">
                                <label for="" class="col-md-1 col-form-label">Describe</label>
                                <div class="col-md-6">
                                    <input name="edema_feet_describe" id="edema_feet_describe" class="form-control">
                                </div>
                            </div><br>
                            <div class="form-check form-check-inline">
                                <input type="checkbox" id="edema_feet1" name="edema_feet1" value="LEFT" />
                                <label for="optionId">LEFT</label>
                            </div><br>
                            <div class="form-check form-check-inline">
                                <input type="checkbox" id="edema_feet1" name="edema_feet1" value="RIGHT" />
                                <label for="optionId">RIGHT</label>
                            </div><br>
                            <div class="form-check form-check-inline">
                                <input type="checkbox" id="edema_feet1" name="edema_feet1" value="PITTING" />
                                <label for="optionId">PITTING</label>
                            </div><br>

                        </div>
                    </div><br>
                    <div class="form-group row">
                        <label for="" class="col-md-2 font-bold col-form-label">Hands:</label>
                        <div class="col-md-10">
                            <label for="" class="pad3" style="margin-right: 25px;">Normal:</label>
                            <div class="form-check form-check-inline ">
                                Yes: <input id="edema_hands_normal" name="edema_hands_normal" type="radio" value="Yes" required="true" />
                            </div>
                            <div class="form-check form-check-inline">
                                No: <input id="edema_hands_normal" name="edema_hands_normal" type="radio" value="No" required="true" />
                            </div><br>

                            <div class="form-group row">
                                <label for="" class="col-md-1 col-form-label">Describe</label>
                                <div class="col-md-6">
                                    <input type="text" name="edema_hands_describe" id="edema_hands_describe" class="form-control">
                                </div>
                            </div><br>

                            <div class="form-check form-check-inline">
                                <input type="checkbox" id="edema_hands1" name="edema_hands1" value="LEFT" />
                                <label for="optionId">LEFT</label>
                            </div><br>
                            <div class="form-check form-check-inline">
                                <input type="checkbox" id="edema_hands1" name="edema_hands1" value="RIGHT" />
                                <label for="optionId">RIGHT</label>
                            </div><br>
                            <div class="form-check form-check-inline">
                                <input type="checkbox" id="edema_hands1" name="edema_hands1" value="PITTING" />
                                <label for="optionId">PITTING</label>
                            </div><br>


                        </div>
                    </div><br>
                    <div class="form-group row">
                        <label for="" class="col-md-2 font-bold col-form-label">Other:</label>
                        <div class="col-md-10">
                            <div class="form-check form-check-inline ">
                                Yes: <input id="edema_other" name="edema_other" type="radio" value="Yes" required="true" />
                            </div>
                            <div class="form-check form-check-inline">
                                No: <input id="edema_other" name="edema_other" type="radio" value="No" required="true" />
                            </div><br>

                            <div class="form-group row">
                                <label for="" class="col-md-1 col-form-label">Describe</label>
                                <div class="col-md-6">
                                    <input type="text" name="edema_other_describe" id="edema_other_describe" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <br><br>
                            <h5><u>Skin</u></h5>
                        </div>

                    </div>

                    <div class="form-group row">
                        <label for="" class="col-md-2  font-bold col-form-label">Feet:</label>
                        <div class="col-md-10">
                            <div class="form-check form-check-inline ">
                                Yes: <input id="skin_feet" name="skin_feet" type="radio" value="Yes" required="true" />
                            </div>
                            <div class="form-check form-check-inline">
                                No: <input id="skin_feet" name="skin_feet" type="radio" value="No" required="true" />
                            </div><br>

                            <div class="form-group row">
                                <label for="" class="col-md-1 col-form-label">Describe</label>
                                <div class="col-md-6">
                                    <input type="text" name="skin_feet_describe" id="skin_feet_describe" class="form-control">
                                </div>
                            </div><br>
                        </div>
                    </div><br>


                    <div class="form-group row">
                        <label for="" class="col-md-2 font-bold col-form-label">Rashes:</label>
                        <div class="col-md-10">
                            <div class="form-check form-check-inline ">
                                Yes: <input id="skin_rashes" name="skin_rashes" type="radio" value="Yes" required="true" />
                            </div>
                            <div class="form-check form-check-inline">
                                No: <input id="skin_rashes" name="skin_rashes" type="radio" value="No" required="true" />
                            </div>
                        </div>
                    </div><br>
                    <div class="form-group row">
                        <label for="" class="col-md-2 font-bold col-form-label">Redness:</label>
                        <div class="col-md-10">
                            <div class="form-check form-check-inline ">
                                Yes: <input id="skin_rashes" name="skin_redness" type="radio" value="Yes" required="true" />
                            </div>
                            <div class="form-check form-check-inline">
                                No: <input id="skin_rashes" name="skin_redness" type="radio" value="No" required="true" />
                            </div><br>

                        </div>
                    </div><br>
                    <div class="form-group row">
                        <label for="" class="col-md-2 font-bold col-form-label">Bruising:</label>
                        <div class="col-md-10">
                            <div class="form-check form-check-inline ">
                                Yes: <input id="skin_bruising" name="skin_bruising" type="radio" value="Yes" required="true" />
                            </div>
                            <div class="form-check form-check-inline">
                                No: <input id="skin_bruising" name="skin_bruising" type="radio" value="No" required="true" />
                            </div><br>
                        </div>
                    </div><br>
                    <div class="form-group row">
                        <label for="" class="col-md-2 font-bold col-form-label">Open Areas:</label>
                        <div class="col-md-10">
                            <div class="form-check form-check-inline">
                                Yes: <input id="skin_openareas" name="skin_openareas" type="radio" value="Yes" required="true" />
                            </div>
                            <div class="form-check form-check-inline">
                                No: <input id="skin_openareas" name="skin_openareas" type="radio" value="No" required="true" />
                            </div><br>
                        </div>
                    </div><br>
                    <div class="form-group row">
                        <label for="" class="col-md-2 font-bold col-form-label">Describe Abnormal areas:</label>
                        <div class="col-md-6">
                            <input type="text" name="skin_desc_abnormal" id="skin_desc_abnormal" class="form-control">

                        </div>
                    </div><br>
                    <div class="form-group row">
                        <label for="" class="col-md-2 font-bold col-form-label">Wound / Dressing?</label>
                        <div class="col-md-10">
                            <div class="form-check form-check-inline">
                                Yes: <input id="skin_wounddressing" name="skin_wounddressing" type="radio" value="Yes" required="true" />
                            </div>
                            <div class="form-check form-check-inline">
                                No: <input id="skin_wounddressing" name="skin_wounddressing" type="radio" value="No" required="true" />
                            </div><br>

                        </div>
                    </div><br>

                    <div class="form-group row">
                        <label for="" class="col-md-2 font-bold col-form-label">Describe</label>
                        <div class="col-md-6">
                            <input type="text" name="skin_desc" id="skin_desc" class="form-control">

                        </div>
                    </div><br>

                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <br><br>
                            <h5><u>Pain Assessment</u></h5>
                        </div>

                    </div>

                    <div class="form-group row">
                        <label for="" class="col-md-2 col-form-label">Resident having p:</label>
                        <div class="col-md-10">
                            <div class="form-check form-check-inline ">
                                Yes: <input id="p_residentp" name="p_residentp" type="radio" value="Yes" required="true" />
                            </div>
                            <div class="form-check form-check-inline">
                                No: <input id="p_residentp" name="p_residentp" type="radio" value="No" required="true" />
                            </div><br>

                            <div class="form-group row">
                                <label for="" class="col-md-1 col-form-label">Describe</label>
                                <div class="col-md-6">
                                    <input type="text" name="p_residentp_desc" id="p_residentp_desc" class="form-control">
                                </div>
                            </div><br>
                        </div>
                    </div><br>
                    <div class="form-group row">
                        <label for="" class="col-md-3 col-form-label">p Scale 1(less)-10(worst)</label>
                        <div class="col-md-6">
                            <input type="text" name="p_pscale" id="p_pscale" class="form-control">
                        </div>
                    </div><br>
                    <div class="form-group row">
                        <label for="" class="col-md-2 font-bold col-form-label">Pain Quality:</label>
                    </div><br>
                    <div class="form-group row">
                        <label for="" class="col-md-2 font-bold col-form-label">Aching:</label>
                        <div class="col-md-10">
                            <div class="form-check form-check-inline ">
                                Yes: <input id="p_aching" name="p_aching" type="radio" value="Yes" required="true" />
                            </div>
                            <div class="form-check form-check-inline">
                                No: <input id="p_aching" name="p_aching" type="radio" value="No" required="true" />
                            </div><br>

                        </div>
                    </div><br>
                    <div class="form-group row">
                        <label for="" class="col-md-2 font-bold col-form-label">Sharp:</label>
                        <div class="col-md-10">
                            <div class="form-check form-check-inline ">
                                Yes: <input id="p_sharp" name="p_sharp" type="radio" value="Yes" required="true" />
                            </div>
                            <div class="form-check form-check-inline">
                                No: <input id="p_sharp" name="p_sharp" type="radio" value="No" required="true" />
                            </div><br>
                        </div>
                    </div><br>
                    <div class="form-group row">
                        <label for="" class="col-md-2 font-bold col-form-label">Dull:</label>
                        <div class="col-md-10">

                            <div class="form-check form-check-inline ">
                                Yes: <input id="p_dull" name="p_dull" type="radio" value="Yes" required="true" />
                            </div>
                            <div class="form-check form-check-inline">
                                No: <input id="p_dull" name="p_dull" type="radio" value="No" required="true" />
                            </div><br>
                        </div>
                    </div><br>
                    <div class="form-group row">
                        <label for="" class="col-md-2 font-bold col-form-label">Radiating:</label>
                        <div class="col-md-10">
                            <div class="form-check form-check-inline ">
                                Yes: <input id="p_radiating" name="p_radiating" type="radio" value="Yes" required="true" />
                            </div>
                            <div class="form-check form-check-inline">
                                No: <input id="p_radiating" name="p_radiating" type="radio" value="No" required="true" />
                            </div><br>
                        </div>
                    </div><br>
                    <div class="form-group row">
                        <label for="" class="col-md-2 font-bold col-form-label">Where</label>
                        <div class="col-md-6">
                            <input type="text" name="p_where" id="p_where" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-md-2 font-bold col-form-label">What makes it better:</label>
                        <div class="col-md-6">
                            <input type="text" name="p_whatmakes_better" id="p_whatmakes_better" class="form-control">

                        </div>
                    </div><br>
                    <div class="form-group row">
                        <label for="" class="col-md-2 font-bold col-form-label">What makes it worst:</label>
                        <div class="col-md-6">
                            <input type="text" name="p_whatmakes_worst" id="p_whatmakes_worst" class="form-control">

                        </div>
                    </div><br>
                    <div class="form-group row">
                        <label for="" class="col-md-3 font-bold col-form-label">Does the p interface with ADL's:</label>
                        <div class="col-md-6">
                            <div class="form-check form-check-inline ">
                                Yes: <input id="p_interface_adl" name="p_interface_adl" type="radio" value="Yes" required="true" />
                            </div>
                            <div class="form-check form-check-inline">
                                No: <input id="p_interface_adl" name="p_interface_adl" type="radio" value="No" required="true" />
                            </div><br>
                        </div>
                    </div><br>
                    <div class="form-group row">
                        <label for="" class="col-md-2 font-bold col-form-label">Describe:</label>
                        <div class="col-md-6">
                            <input type="text" name="p_describe" id="p_describe" class="form-control">

                        </div>
                    </div><br>
                    <div class="form-group row">
                        <label for="" class="col-md-2 font-bold col-form-label">Other:</label>
                        <div class="col-md-6">
                            <input type="text" name="p_other" id="p_other" class="form-control">

                        </div>
                    </div><br>

                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label for="" class="col-md-4 font-bold col-form-label">Completed By</label>
                        <div class="col-md-6">
                            <input type="text" name="completed_by" id="completed_by" class="form-control">
                        </div>
                    </div>
                </div>
            </div>

        </form>
        <div class="row">
            <div class="col-md-6 text-right">
                <button type="button" class="btn btn-primary" id="savePart">Save</button>
            </div>
            <div class="col-md-6 text-right">
                <a class="btn btn-danger" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Back</a>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript" src="~/Content/assets/plugins/jquery/jquery-1.11.1.min.js"></script>
<script type="text/javascript">
     $(document).ready(function () {
        if (window.sessionStorage.getItem('linkid') == null || window.sessionStorage.getItem('linkid') == undefined || window.sessionStorage.getItem('linkid') == "") {

        }
        else {
              GetPostfallPage2PartB()
        }
        $(document).on('click', '#savePart', function () {
        //$("#frmPartA").submit(function (e) {
                //e.preventDefault();
           // alert(window.localStorage.getItem('linkid'))
            if (window.sessionStorage.getItem('linkid') == null || window.sessionStorage.getItem('linkid') == undefined || window.sessionStorage.getItem('linkid') == "") {
                alert("Please save page 1 first")
            }
            else {
                var strc_c1 = "";
                 $('input[name="c_c"]:checked').each(function () {
                    strc_c1 = strc_c1 + "," + this.value
                });
                var stredema_hands1 = "";
                $('input[name="edema_hands1"]:checked').each(function () {
                    stredema_hands1 = stredema_hands1 + "," + this.value
                });
                var stredema_feet1 = "";
                $('input[name="edema_feet1"]:checked').each(function () {
                    stredema_feet1 = stredema_feet1 + "," + this.value
                });
                console.log(strc_c1 + "||" + stredema_hands1 + "||" + stredema_feet1)
                var $form = $("#frmPartA");
                var data = getFormData($form);
                console.log(data)
                addRecordForm(data, strc_c1.substr(1), stredema_hands1.substr(1), stredema_feet1.substr(1), parseInt(window.sessionStorage.getItem('linkid')))
            }
                        });

    });
     function addRecordForm(data, c_c, edema_hands1, edema_feet1, linkid) {
        var parameters = {};
        parameters.data = data;
        parameters.c_c = c_c
        parameters.edema_hands1 = edema_hands1
        parameters.edema_feet1 = edema_feet1;
        parameters.linkid = linkid;
        //console.log(JSON.stringify(parameters))
        var request = $.ajax({
            dataType: "json",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "/Assessments/PostfallClinicalMonitoringA",
            data: JSON.stringify(parameters)
            //data: { data: JSON.stringify(data) }
        });

        request.done(function (msg) {
            alert("Record saved ");
            console.log(msg)
        });

        request.fail(function (jqXHR, textStatus) {
            alert("Request failed: " + textStatus);
            console.log(jqXHR);
            //console.log(JSON.stringify(parameters))
        });
    }

    function getFormData($form) {
        var unindexed_array = $form.serializeArray();
        var indexed_array = {};

        $.map(unindexed_array, function (n, i) {
            indexed_array[n['name']] = n['value'];
        });

        return indexed_array;
    }
    //document.forms["frmPartA"]["c_longsound_normal"].value = "No";
    function fill(a) {
        //console.log(a)
        for (var k in a) {
            try {
                if (a[k] == "" || a[k] == null) {
                }
                else {
                    document.forms["frmPartA"][k].value = a[k];
                    $('[name="' + k + '"]').val(a[k]);
                }
            }
              catch(rr){
                   console.log(rr)
            }

        }

    }
    function GetPostfallPage2PartB() {

        $.get('/Assessments/GetPostfallPage2PartB?linkid=' + window.sessionStorage.getItem('linkid'), {}, function (data) {
            console.log(data.id)
            if (data.id == "0") {

            }
            else {
                fill(data)
            }

        });
    }
</script>