@RenderPage("~/Views/Shared/_Header.cshtml")
@RenderPage("~/Views/Shared/_SideBar.cshtml")

<style>

    .form-tabs .nav-link {
        font-size: 1rem;
    }

    .modal-xlg {
        width: 900px !important;                
        max-width: 1000px !important;
    }
</style>
<!-- START PAGE-CONTAINER -->
<div class="page-container">

    @RenderPage("~/Views/Shared/_NavBar.cshtml")

    <!-- START PAGE CONTENT WRAPPER -->
    <div class="page-content-wrapper">
        <!-- START PAGE CONTENT -->
        <div class="content">
            <!-- START JUMBOTRON -->
            <div class="jumbotron w-100" style="position: fixed; z-index: 400">
                <div class="container-fluid container-fixed-lg">
                    <!-- <div class="inner"> -->
                    <div class="row align-items-center">
                        <div class="col-md-8">
                            <h3>Assessments</h3>
                        </div>
                    </div>
                    <!-- </div> -->
                </div>
            </div>
            <!-- END JUMBOTRON -->
            <div style="height: 60px;"></div>
            <!-- START CONTAINER FLUID -->
            <div class="container-fluid container-fixed-lg">
                <!-- BEGIN PlACE PAGE CONTENT HERE -->
                <div class="card">
                    <div class="card-block">

                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action active">
                                List of Forms
                            </a>
                            <a href="~/Assessments/BowelMovement" class="list-group-item list-group-item-action">Bowel Movement Tracking</a>
                            <a href="~/Assessments/DietaryHistory" class="list-group-item list-group-item-action">Dietary Assessment</a>
                            <a href="~/Assessments/ExerciseActivity" class="list-group-item list-group-item-action">Exercise Activity</a>
                            <a href="~/Assessments/FamilyConference" class="list-group-item list-group-item-action">Family Conference Notes</a>
                            <a href="~/Assessments/HeadToToeAssessment" class="list-group-item list-group-item-action">Admission Head to Toe Assessment</a>
                            @*<a href="~/Assessments/HSEPTracking" class="list-group-item list-group-item-action">HSEP Tracking Record</a>*@
                             <a href="~/Assessments/PostFallClinicalMonitoringA" class="list-group-item list-group-item-action">Post-Fall Clinical Monitoring A</a>
                             <a href="~/Assessments/PostFallClinicalMonitoringB" class="list-group-item list-group-item-action">Post-Fall Clinical Monitoring B</a>
                            <a href="~/Assessments/UnusualIncident" class="list-group-item list-group-item-action ">Unusual Incident Report</a>
                            @*<a href="~/Assessments/SpecificGoals" class="list-group-item list-group-item-action ">Residents Goals</a>*@
                            <a href="~/Assessments/CarePlan" class="list-group-item list-group-item-action ">Resident Care Assessment</a>
                            <a href="~/Assessments/Activity" class="list-group-item list-group-item-action ">Activity Assessment</a>
                        </div>
                    </div>
                </div>

                <!-- END PLACE PAGE CONTENT HERE -->
            </div>
            <!-- END CONTAINER FLUID -->
        </div>
        <!-- END PAGE CONTENT -->

        @RenderPage("~/Views/Shared/_Footer.cshtml")
