

<div style="text-align: center;margin: 0;position: absolute;top: 50%;-ms-transform: translateY(-50%);transform: translateY(-50%);width: 100%;">
    <h2>Error Happened</h2>
    <h2>@ViewBag.parameter</h2>
    <h2>Click to Go To <a href="/Login/Index">Home Page</a></h2>
</div>
