
@{
    ViewBag.Title = "SearchResident";
}


@model List<QolaMVC.Models.NEW_AllergyModel>
@RenderPage("~/Views/Shared/_Header.cshtml")
@RenderPage("~/Views/Shared/_SideBar.cshtml")
<style>
    .form-tabs .nav-link {
        font-size: 1rem;
    }

    .modal-xlg {
        width: 900px !important;
        max-width: 1000px !important;
    }
</style>
<!-- START PAGE-CONTAINER -->
<div class="page-container">

    @RenderPage("~/Views/Shared/_NavBar.cshtml")

    <!-- START PAGE CONTENT WRAPPER -->
    <div class="page-content-wrapper">
        <!-- START PAGE CONTENT -->
        <div class="content">
            <!-- START JUMBOTRON -->
            <div class="jumbotron w-100" style="position: fixed; z-index: 400">
                <div class="container-fluid container-fixed-lg">
                    <!-- <div class="inner"> -->
                    <div class="row align-items-center">
                        <div class="col-md-8">
                            <h3>Residents Search</h3>
                        </div>
                    </div>
                    <!-- </div> -->
                </div>
            </div>
            <!-- END JUMBOTRON -->
            <div style="height: 60px;"></div>



            <div class="row">
                <div class="col-md-6 offset-md-2 my-3 pointer">
                    <div class="search">
                        <div class="search-input-wrap">
                            <div class="input-box">
                                <input autocomplete="off" class="searchresidents2" required="" id="txtReferenceNumber" name="txtReferenceNumber" placeholder="Search Residents" type="text" value="">
                            </div>
                        </div>
                    </div>
                    <div class="searchBox p-1">
                        <div class="list-group searchboxresult">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT -->
        


        @RenderPage("~/Views/Shared/_Footer.cshtml")


