
@{
    ViewBag.Title = "SearchResident";
}


@model List<QolaMVC.Models.NEW_AllergyModel>
@RenderPage("~/Views/Shared/_Header.cshtml")
@RenderPage("~/Views/Shared/_SideBar.cshtml")
<style>
    .form-tabs .nav-link {
        font-size: 1rem;
    }

    .modal-xlg {
        width: 900px !important;
        max-width: 1000px !important;
    }
</style>
<!-- START PAGE-CONTAINER -->
<div class="page-container">

    @RenderPage("~/Views/Shared/_NavBar.cshtml")

    <!-- START PAGE CONTENT WRAPPER -->
    <div class="page-content-wrapper">
        <!-- START PAGE CONTENT -->
        <div class="content">
            <!-- START JUMBOTRON -->
            <div class="jumbotron w-100" style="position: fixed; z-index: 400">
                <div class="container-fluid container-fixed-lg">
                    <!-- <div class="inner"> -->
                    <div class="row align-items-center">
                        <div style="width:85%;">
                            <h3>Residents Search</h3>
                        </div>
                        <div style="width:10%;display:inline-block;">
                            <button onclick="location.href='/Home/Menu/?p_HomeId=@ViewBag.Home.Id';" class="btn btn-primary"><i class="fa fa-backward"></i> Back</button>
                        </div>
                    </div>
                    <!-- </div> -->
                </div>
            </div>
            <!-- END JUMBOTRON -->
            <div style="height:12vh;"></div>



            <div class="row">
                <div class="col-md-5 offset-md-2 my-3 pointer" style="margin-left:25%;">
                    <div class="search">
                        <div class="search-input-wrap">
                            <div class="input-box">
                                <input autocomplete="off" class="searchresidents2" required="" id="txtReferenceNumber" name="txtReferenceNumber" placeholder="Search Residents" type="text" value="" style="width:100%;max-width:100%">
                            </div>
                        </div>
                    </div>
                    <div class="searchBox p-1">
                        <div class="list-group searchboxresult">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT -->



        @RenderPage("~/Views/Shared/_Footer.cshtml")

        <script>
            document.body.addEventListener("click", function (e) {
                $('.searchboxresult').empty();
                var a = $('.searchboxresult');
                a[0].parentElement.style.display = "none";
                $('.searchresidents2').val("");

            });
        </script>
