@model List<QolaMVC.Models.NEW_AllergyModel>
@RenderPage("~/Views/Shared/_Header.cshtml")
@RenderPage("~/Views/Shared/_SideBar.cshtml")
<style>
    .form-tabs .nav-link {
        font-size: 1rem;
    }

    .modal-xlg {
        width: 900px !important;
        max-width: 1000px !important;
    }
</style>
<!-- START PAGE-CONTAINER -->
<div class="page-container">

    @RenderPage("~/Views/Shared/_NavBar.cshtml")

    <!-- START PAGE CONTENT WRAPPER -->
    <div class="page-content-wrapper">
        <!-- START PAGE CONTENT -->
        <div class="content">
            <!-- START JUMBOTRON -->
            <div class="jumbotron w-100" style="position: fixed; z-index: 400">
                <div class="container-fluid container-fixed-lg">
                    <!-- <div class="inner"> -->
                    <div class="row align-items-center">
                        <div class="col-md-8">
                            <h3>Suite Handler</h3>
                        </div>
                    </div>
                    <!-- </div> -->
                </div>
            </div>
            <!-- END JUMBOTRON -->

            <div style="height: 60px;"></div>

            <!-- START CONTAINER FLUID -->
            <div class="container-fluid container-fixed-lg">
                <!-- BEGIN PlACE PAGE CONTENT HERE -->


                <div class="card">
                    <div class="card-block">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="row">
                                    <div class="col-md-7">
                                        <img src="<?php echo url('assets/img/photo_dummysize.png') ?>"
                                             style="width: 120px"
                                             alt="">
                                    </div>
                                    <div class="col-md-5">
                                        <h6>SAMPLE</h6>
                                        <h6>JOHN</h6>
                                        <h6 style="color: red">1</h6>
                                        <h6>Male</h6>
                                        <h6>05-05-2494</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h6 style="color: red">Sample</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-tabs mt-4">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <h6><b>Modifications</b> </h6>
                                        </div>
                                        <div class="col-md-6 text-left">
                                            <h6><b>Transfer</b> </h6>
                                        </div>
                                    </div>
                                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Application Suite</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Change Occupancy</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Internal Transfer</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-other" role="tab" aria-controls="pills-contact" aria-selected="false">Transfer to ASC HOME</a>
                                        </li>
                                    </ul>
                                    <h6><b>Move Out</b> </h6>

                                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link" id="pills-home-tab2" data-toggle="pill" href="#pills-home2" role="tab" aria-controls="pills-home" aria-selected="true">End of Lease</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="pills-profile-tab2" data-toggle="pill" href="#pills-profile2" role="tab" aria-controls="pills-profile" aria-selected="false">Palliative</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="pills-contact-tab2" data-toggle="pill" href="#pills-contact2" role="tab" aria-controls="pills-contact" aria-selected="false">LTC</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="pills-contact-tab2" data-toggle="pill" href="#pills-other2" role="tab" aria-controls="pills-contact" aria-selected="false">Other Retirement</a>
                                        </li>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="pills-contact-tab2" data-toggle="pill" href="#pills-passed" role="tab" aria-controls="pills1" aria-selected="false">Passed Away</a>
                                        </li>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="pill2" data-toggle="pill" href="#pills-other3" role="tab" aria-controls="pills2" aria-selected="false">Other</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="pills-tabContent">
                                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                            <div class="row">
                                                <table class="table table-bordered">
                                                    <thead class="bg-primary">
                                                        <tr>
                                                            <th class="text-white text-center">Home</th>
                                                            <th class="text-white text-center">Suite No</th>
                                                            <th class="text-white text-center">Move In Date</th>
                                                            <th class="text-white text-center">Move Out Date</th>
                                                            <th class="text-white text-center">Occupancy</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Sample</td>
                                                            <td>1</td>
                                                            <td>O5/03/2005</td>
                                                            <td></td>
                                                            <td>Single</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <br>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-md-4 col-form-label">Move In Date</label>
                                                        <div class="col-md-5">
                                                            <input type="text" class="form-control" id="staticEmail">
                                                        </div>
                                                        <div class="col-md-2">
                                                            <p style="font-size: 9px; float: left">(MM/DD/YYYY)</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-md-4 col-form-label">Suite #</label>
                                                        <div class="col-md-7">
                                                            <select name="" id="" class="form-control">
                                                                <option value="">--Suite--</option>
                                                            </select>
                                                        </div>
                                                    </div>


                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-md-4 text-right col-form-label">Occupancy</label>
                                                        <div class="col-md-7">
                                                            <select name="" id="" class="form-control">
                                                                <option value="">--Suite--</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-md-1 col-form-label">Notes</label>
                                                        <div class="col-md-11">
                                                            <textarea class="textarea" rows="5" style="width: 95% !important; margin-left: 47px"></textarea>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 text-center">
                                                    <button class="btn btn-danger">
                                                        BACK
                                                    </button>
                                                    <button class="btn btn-danger">
                                                        SAVE
                                                    </button>
                                                    <button class="btn btn-danger">
                                                        CLEAR
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                                            <div class="row">
                                                <table class="table table-bordered">
                                                    <thead class="bg-primary">
                                                        <tr>
                                                            <th class="text-white text-center">Home</th>
                                                            <th class="text-white text-center">Suite No</th>
                                                            <th class="text-white text-center">Move In Date</th>
                                                            <th class="text-white text-center">Move Out Date</th>
                                                            <th class="text-white text-center">Occupancy</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Sample</td>
                                                            <td>1</td>
                                                            <td>O5/03/2005</td>
                                                            <td></td>
                                                            <td>Single</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <br>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-md-4 col-form-label">Move In Date</label>
                                                        <div class="col-md-5">
                                                            <input type="text" class="form-control" id="staticEmail">
                                                        </div>
                                                        <div class="col-md-2">
                                                            <p style="font-size: 9px; float: left">(MM/DD/YYYY)</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-md-4 col-form-label">Suite #</label>
                                                        <div class="col-md-7">
                                                            <select name="" id="" class="form-control">
                                                                <option value="">--Suite--</option>
                                                            </select>
                                                        </div>
                                                    </div>


                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-md-4 text-right col-form-label">Occupancy</label>
                                                        <div class="col-md-7">
                                                            <select name="" id="" class="form-control">
                                                                <option value="">--Suite--</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-md-1 col-form-label">Notes</label>
                                                        <div class="col-md-11">
                                                            <textarea class="textarea" rows="5" style="width: 95% !important; margin-left: 47px"></textarea>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 text-center">
                                                    <button class="btn btn-danger">
                                                        BACK
                                                    </button>
                                                    <button class="btn btn-danger">
                                                        SAVE
                                                    </button>
                                                    <button class="btn btn-danger">
                                                        CLEAR
                                                    </button>
                                                </div>
                                            </div>


                                        </div>
                                        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                                            <div class="row">
                                                <table class="table table-bordered">
                                                    <thead class="bg-primary">
                                                        <tr>
                                                            <th class="text-white text-center">Home</th>
                                                            <th class="text-white text-center">Suite No</th>
                                                            <th class="text-white text-center">Move In Date</th>
                                                            <th class="text-white text-center">Move Out Date</th>
                                                            <th class="text-white text-center">Occupancy</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Sample</td>
                                                            <td>1</td>
                                                            <td>O5/03/2005</td>
                                                            <td></td>
                                                            <td>Single</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <br>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-md-4 col-form-label">Move In Date</label>
                                                        <div class="col-md-5">
                                                            <input type="text" class="form-control" id="staticEmail">
                                                        </div>
                                                        <div class="col-md-2">
                                                            <p style="font-size: 9px; float: left">(MM/DD/YYYY)</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-md-4 col-form-label">Suite #</label>
                                                        <div class="col-md-7">
                                                            <select name="" id="" class="form-control">
                                                                <option value="">--Suite--</option>
                                                            </select>
                                                        </div>
                                                    </div>


                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-md-4 text-right col-form-label">Occupancy</label>
                                                        <div class="col-md-7">
                                                            <select name="" id="" class="form-control">
                                                                <option value="">--Suite--</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-md-1 col-form-label">Notes</label>
                                                        <div class="col-md-11">
                                                            <textarea class="textarea" rows="5" style="width: 95% !important; margin-left: 47px"></textarea>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 text-center">
                                                    <button class="btn btn-danger">
                                                        BACK
                                                    </button>
                                                    <button class="btn btn-danger">
                                                        SAVE
                                                    </button>
                                                    <button class="btn btn-danger">
                                                        CLEAR
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="pills-other" role="tabpanel" aria-labelledby="pills-contact-tab">
                                            <div class="row">
                                                <table class="table table-bordered">
                                                    <thead class="bg-primary">
                                                        <tr>
                                                            <th class="text-white text-center">Home</th>
                                                            <th class="text-white text-center">Suite No</th>
                                                            <th class="text-white text-center">Move In Date</th>
                                                            <th class="text-white text-center">Move Out Date</th>
                                                            <th class="text-white text-center">Occupancy</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Sample</td>
                                                            <td>1</td>
                                                            <td>O5/03/2005</td>
                                                            <td></td>
                                                            <td>Single</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <br>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-md-4 col-form-label">Move In Date</label>
                                                        <div class="col-md-5">
                                                            <input type="text" class="form-control" id="staticEmail">
                                                        </div>
                                                        <div class="col-md-2">
                                                            <p style="font-size: 9px; float: left">(MM/DD/YYYY)</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-md-4 col-form-label">Suite #</label>
                                                        <div class="col-md-7">
                                                            <select name="" id="" class="form-control">
                                                                <option value="">--Suite--</option>
                                                            </select>
                                                        </div>
                                                    </div>


                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-md-4 text-right col-form-label">Occupancy</label>
                                                        <div class="col-md-7">
                                                            <select name="" id="" class="form-control">
                                                                <option value="">--Suite--</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-md-1 col-form-label">Notes</label>
                                                        <div class="col-md-11">
                                                            <textarea class="textarea" rows="5" style="width: 95% !important; margin-left: 47px"></textarea>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 text-center">
                                                    <button class="btn btn-danger">
                                                        BACK
                                                    </button>
                                                    <button class="btn btn-danger">
                                                        SAVE
                                                    </button>
                                                    <button class="btn btn-danger">
                                                        CLEAR
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade show" id="pills-home2" role="tabpanel" aria-labelledby="pills-home-tab">
                                            <div class="row">
                                                <table class="table table-bordered">
                                                    <thead class="bg-primary">
                                                        <tr>
                                                            <th class="text-white text-center">Home</th>
                                                            <th class="text-white text-center">Suite No</th>
                                                            <th class="text-white text-center">Move In Date</th>
                                                            <th class="text-white text-center">Move Out Date</th>
                                                            <th class="text-white text-center">Occupancy</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Sample</td>
                                                            <td>1</td>
                                                            <td>O5/03/2005</td>
                                                            <td></td>
                                                            <td>Single</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <br>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-md-4 col-form-label">Move In Date</label>
                                                        <div class="col-md-5">
                                                            <input type="text" class="form-control" id="staticEmail">
                                                        </div>
                                                        <div class="col-md-2">
                                                            <p style="font-size: 9px; float: left">(MM/DD/YYYY)</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-md-4 col-form-label">Suite #</label>
                                                        <div class="col-md-7">
                                                            <select name="" id="" class="form-control">
                                                                <option value="">--Suite--</option>
                                                            </select>
                                                        </div>
                                                    </div>


                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-md-4 text-right col-form-label">Occupancy</label>
                                                        <div class="col-md-7">
                                                            <select name="" id="" class="form-control">
                                                                <option value="">--Suite--</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-md-1 col-form-label">Notes</label>
                                                        <div class="col-md-11">
                                                            <textarea class="textarea" rows="5" style="width: 95% !important; margin-left: 47px"></textarea>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 text-center">
                                                    <button class="btn btn-danger">
                                                        BACK
                                                    </button>
                                                    <button class="btn btn-danger">
                                                        SAVE
                                                    </button>
                                                    <button class="btn btn-danger">
                                                        CLEAR
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="pills-profile2" role="tabpanel" aria-labelledby="pills-profile-tab">
                                            <div class="row">
                                                <table class="table table-bordered">
                                                    <thead class="bg-primary">
                                                        <tr>
                                                            <th class="text-white text-center">Home</th>
                                                            <th class="text-white text-center">Suite No</th>
                                                            <th class="text-white text-center">Move In Date</th>
                                                            <th class="text-white text-center">Move Out Date</th>
                                                            <th class="text-white text-center">Occupancy</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Sample</td>
                                                            <td>1</td>
                                                            <td>O5/03/2005</td>
                                                            <td></td>
                                                            <td>Single</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <br>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-md-4 col-form-label">Move In Date</label>
                                                        <div class="col-md-5">
                                                            <input type="text" class="form-control" id="staticEmail">
                                                        </div>
                                                        <div class="col-md-2">
                                                            <p style="font-size: 9px; float: left">(MM/DD/YYYY)</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-md-4 col-form-label">Suite #</label>
                                                        <div class="col-md-7">
                                                            <select name="" id="" class="form-control">
                                                                <option value="">--Suite--</option>
                                                            </select>
                                                        </div>
                                                    </div>


                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-md-4 text-right col-form-label">Occupancy</label>
                                                        <div class="col-md-7">
                                                            <select name="" id="" class="form-control">
                                                                <option value="">--Suite--</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-md-1 col-form-label">Notes</label>
                                                        <div class="col-md-11">
                                                            <textarea class="textarea" rows="5" style="width: 95% !important; margin-left: 47px"></textarea>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 text-center">
                                                    <button class="btn btn-danger">
                                                        BACK
                                                    </button>
                                                    <button class="btn btn-danger">
                                                        SAVE
                                                    </button>
                                                    <button class="btn btn-danger">
                                                        CLEAR
                                                    </button>
                                                </div>
                                            </div>


                                        </div>
                                        <div class="tab-pane fade" id="pills-contact2" role="tabpanel" aria-labelledby="pills-contact-tab">
                                            <div class="row">
                                                <table class="table table-bordered">
                                                    <thead class="bg-primary">
                                                        <tr>
                                                            <th class="text-white text-center">Home</th>
                                                            <th class="text-white text-center">Suite No</th>
                                                            <th class="text-white text-center">Move In Date</th>
                                                            <th class="text-white text-center">Move Out Date</th>
                                                            <th class="text-white text-center">Occupancy</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Sample</td>
                                                            <td>1</td>
                                                            <td>O5/03/2005</td>
                                                            <td></td>
                                                            <td>Single</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <br>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-md-4 col-form-label">Move In Date</label>
                                                        <div class="col-md-5">
                                                            <input type="text" class="form-control" id="staticEmail">
                                                        </div>
                                                        <div class="col-md-2">
                                                            <p style="font-size: 9px; float: left">(MM/DD/YYYY)</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-md-4 col-form-label">Suite #</label>
                                                        <div class="col-md-7">
                                                            <select name="" id="" class="form-control">
                                                                <option value="">--Suite--</option>
                                                            </select>
                                                        </div>
                                                    </div>


                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-md-4 text-right col-form-label">Occupancy</label>
                                                        <div class="col-md-7">
                                                            <select name="" id="" class="form-control">
                                                                <option value="">--Suite--</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-md-1 col-form-label">Notes</label>
                                                        <div class="col-md-11">
                                                            <textarea class="textarea" rows="5" style="width: 95% !important; margin-left: 47px"></textarea>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 text-center">
                                                    <button class="btn btn-danger">
                                                        BACK
                                                    </button>
                                                    <button class="btn btn-danger">
                                                        SAVE
                                                    </button>
                                                    <button class="btn btn-danger">
                                                        CLEAR
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="pills-other2" role="tabpanel" aria-labelledby="pills-contact-tab">
                                            <div class="row">
                                                <table class="table table-bordered">
                                                    <thead class="bg-primary">
                                                        <tr>
                                                            <th class="text-white text-center">Home</th>
                                                            <th class="text-white text-center">Suite No</th>
                                                            <th class="text-white text-center">Move In Date</th>
                                                            <th class="text-white text-center">Move Out Date</th>
                                                            <th class="text-white text-center">Occupancy</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Sample</td>
                                                            <td>1</td>
                                                            <td>O5/03/2005</td>
                                                            <td></td>
                                                            <td>Single</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <br>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-md-4 col-form-label">Move In Date</label>
                                                        <div class="col-md-5">
                                                            <input type="text" class="form-control" id="staticEmail">
                                                        </div>
                                                        <div class="col-md-2">
                                                            <p style="font-size: 9px; float: left">(MM/DD/YYYY)</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-md-4 col-form-label">Suite #</label>
                                                        <div class="col-md-7">
                                                            <select name="" id="" class="form-control">
                                                                <option value="">--Suite--</option>
                                                            </select>
                                                        </div>
                                                    </div>


                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-md-4 text-right col-form-label">Occupancy</label>
                                                        <div class="col-md-7">
                                                            <select name="" id="" class="form-control">
                                                                <option value="">--Suite--</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-md-1 col-form-label">Notes</label>
                                                        <div class="col-md-11">
                                                            <textarea class="textarea" rows="5" style="width: 95% !important; margin-left: 47px"></textarea>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 text-center">
                                                    <button class="btn btn-danger">
                                                        BACK
                                                    </button>
                                                    <button class="btn btn-danger">
                                                        SAVE
                                                    </button>
                                                    <button class="btn btn-danger">
                                                        CLEAR
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="pills-passed" role="tabpanel" aria-labelledby="pills-contact-tab">
                                            <div class="row">
                                                <table class="table table-bordered">
                                                    <thead class="bg-primary">
                                                        <tr>
                                                            <th class="text-white text-center">Home</th>
                                                            <th class="text-white text-center">Suite No</th>
                                                            <th class="text-white text-center">Move In Date</th>
                                                            <th class="text-white text-center">Move Out Date</th>
                                                            <th class="text-white text-center">Occupancy</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Sample</td>
                                                            <td>1</td>
                                                            <td>O5/03/2005</td>
                                                            <td></td>
                                                            <td>Single</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <br>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-md-4 col-form-label">Move In Date</label>
                                                        <div class="col-md-5">
                                                            <input type="text" class="form-control" id="staticEmail">
                                                        </div>
                                                        <div class="col-md-2">
                                                            <p style="font-size: 9px; float: left">(MM/DD/YYYY)</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-md-4 col-form-label">Suite #</label>
                                                        <div class="col-md-7">
                                                            <select name="" id="" class="form-control">
                                                                <option value="">--Suite--</option>
                                                            </select>
                                                        </div>
                                                    </div>


                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-md-4 text-right col-form-label">Occupancy</label>
                                                        <div class="col-md-7">
                                                            <select name="" id="" class="form-control">
                                                                <option value="">--Suite--</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-md-1 col-form-label">Notes</label>
                                                        <div class="col-md-11">
                                                            <textarea class="textarea" rows="5" style="width: 95% !important; margin-left: 47px"></textarea>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 text-center">
                                                    <button class="btn btn-danger">
                                                        BACK
                                                    </button>
                                                    <button class="btn btn-danger">
                                                        SAVE
                                                    </button>
                                                    <button class="btn btn-danger">
                                                        CLEAR
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="pills-other3" role="tabpanel" aria-labelledby="pills-contact-tab">
                                            <div class="row">
                                                <table class="table table-bordered">
                                                    <thead class="bg-primary">
                                                        <tr>
                                                            <th class="text-white text-center">Home</th>
                                                            <th class="text-white text-center">Suite No</th>
                                                            <th class="text-white text-center">Move In Date</th>
                                                            <th class="text-white text-center">Move Out Date</th>
                                                            <th class="text-white text-center">Occupancy</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Sample</td>
                                                            <td>1</td>
                                                            <td>O5/03/2005</td>
                                                            <td></td>
                                                            <td>Single</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <br>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-md-4 col-form-label">Move In Date</label>
                                                        <div class="col-md-5">
                                                            <input type="text" class="form-control" id="staticEmail">
                                                        </div>
                                                        <div class="col-md-2">
                                                            <p style="font-size: 9px; float: left">(MM/DD/YYYY)</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-md-4 col-form-label">Suite #</label>
                                                        <div class="col-md-7">
                                                            <select name="" id="" class="form-control">
                                                                <option value="">--Suite--</option>
                                                            </select>
                                                        </div>
                                                    </div>


                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-md-4 text-right col-form-label">Occupancy</label>
                                                        <div class="col-md-7">
                                                            <select name="" id="" class="form-control">
                                                                <option value="">--Suite--</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <label for="staticEmail" class="col-md-1 col-form-label">Notes</label>
                                                        <div class="col-md-11">
                                                            <textarea class="textarea" rows="5" style="width: 95% !important; margin-left: 47px"></textarea>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 text-center">
                                                    <button class="btn btn-danger">
                                                        BACK
                                                    </button>
                                                    <button class="btn btn-danger">
                                                        SAVE
                                                    </button>
                                                    <button class="btn btn-danger">
                                                        CLEAR
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-content" id="pills-tabContent">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- END PLACE PAGE CONTENT HERE -->
            </div>
            <!-- END CONTAINER FLUID -->
        </div>
        <!-- END PAGE CONTENT -->



        @RenderPage("~/Views/Shared/_Footer.cshtml")















        <div id="QOLAContent_divSuiteHandlerStatus" class="chkbox_single">
        <div class='body'>
            <h4> Modification </h4>
            <ul> 
            <li>
                <a id=2>Additional Suite</a>
                </li>
            <li>
                <a id=11>Change Occupancy</a>
                </li>
                </ul>
            </div>
        <div class='body'>
            <h4> Transfer </h4>
            <ul> 
            <li>
                <a id=6>Internal Transfer</a>
                </li>
            <li>
                <a id=7>Transfer to ASC Home</a>
                </li>
                </ul>
            </div>
        <div class='body'>
            <h4> Move Out </h4>
            <ul> 
            <li>
                <a id=8>End of Lease</a>
                </li>
            <li>
                <a id=9>Palliative</a>
                </li>
            <li>
                <a id=4>LTC</a>
                </li>
            <li>
                <a id=5>Other Retirement</a>
                </li>
            <li>
                <a id=3>Passed Away</a>
                </li>
            <li>
                <a id=10>Other</a>
                </li>
                </ul>
            </div>
        </div>
