/*

* Override Pages default styles or create your own styles here

*/
h5{
	font-weight: bold;
}
h4{
	font-weight: bold;
}
.borderBottom{
	border-bottom: 1px solid #000;
	width: 100%;
}
.colorBlack{
	color: #000 !important;
}
.movesp{
	margin-right: 20px;
}
.movesp2{
	margin-right: 40px;
}
.img-style{
	width: 120px !important;
	border: 1px solid #000;
}
.showdis{
	z-index: 10;
	position: absolute;
}

.search {
	position: relative;
    padding: 0;
    background-color: #FFF;
    border: 1px solid #14284f;
    border-radius: 0px;
    box-shadow: 0 2px 3px 2px rgba(0,0,0,.03);
    margin-bottom: 25px;
}
.search .search-input-wrap > .input-box > input {
    width: 85.8%;
    border: 0px;
    height: auto;
    border: none;
    outline: none;
    padding: 11px 20px;
    margin-left: 0 !important;
}
.searchBox{
	z-index: 100;
	position: absolute;
	margin-top: -20px;
	border: 1px solid #14284f;
	display: none;
	width: 86%;
	background: #fff;
}
/*.searchBox a{
	color: #000;
}
.searchBox a .row .col-md-11 p:hover{
	font-weight: bolder;
}*/
.searchimg{
	width: 40px;
	float: left;
	position: relative;
}
.btn:not(.md-skip):not(.dropdown-toggle):not(.btn-icon-only) {
    transition: none;
    -webkit-transition: none;
    box-shadow: none;
    font-size: 12px;
    text-transform: none;
    letter-spacing: 1px;
}
.btn:not(.btn-sm):not(.btn-lg) {
    line-height: 1.44;
}
.form-control, .btn:not(.md-skip) {
    box-shadow: none;
    border-radius: 0px;
}
.btn.btn-theme {
    background: #14284f;
    color: #fff;
    position: relative;
    z-index: 1;
}
.search .search-input-wrap > .btn {
    position: relative;
    z-index: 1;
    overflow: visible;
    display: inline-block;
    float: right !important;
    box-shadow: none;
    cursor: pointer;
    padding: 14px 20px;
    margin-top: -2px;
    margin-right: -2px;
    -webkit-appearance: button;
}


textarea{
	width: 100% !important;
	    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    padding: 10px;
}
.fontsize{
	font-size: 14px !important;
}
.margin{
	margin-left: 15px;
}
.margin2{
	margin-left: 20px;
}
.pad{
	margin-left: 8px;
}
.pads{
	padding-left: 40px;
}
.pad2{
	padding-left: 20px;
}
.pad3{
	margin-right: 15px;
}
.pad4{
	margin-right: 25px;
}
.btnfull{
	width: 100% !important;
	margin-bottom: 5px;
}
.rowborder{
	border: 1px solid #ccc;
	border-radius: 2px;
}
input[type="radio"], input[type="checkbox"]{
	font-size: 45px;
}
.font-bold{
	font-weight: bolder !important;
}
.border{
	border-right: 1px solid #ccc;
}
.tdpad{
	padding: 5px !important;
	margin: 0 !important;
}
.other{
	margin-left: -15px;
}
.checkspace{
	margin-left: -20px; 
	margin-right: 5px;
}
.tableBorder{
	border: 1px solid #000;
}

.bg{
	background: #14284f;
	color: #fff !important;
}
.bg h4{
	color: #fff !important;
}
	.upload-link {
		color: #36c;
		display: inline-block;
		*zoom: 1;
		*display: inline;
		overflow: hidden;
		position: relative;
		text-decoration: none;
		background-color: #fff;
		background-color: rgba(255,255,255,.85);
		padding: 3px 8px;
	}
		.upload-link__txt {
			z-index: 1;
			position: relative;
			border-bottom: 1px dotted #36c;
		}
			.upload-link:hover .upload-link__txt {
				color: #f00;
				border-bottom-color: #f00;
			}

		.upload-link__inp {
			top: -10px;
			right: -40px;
			z-index: 2;
			position: absolute;
			cursor: pointer;
			opacity: 0;
			filter: alpha(opacity=0);
			font-size: 50px;
		}


		.upload {
			width: 195px;
			height: 185px;
			border: 2px solid #ccc;
			position: relative;
			background-color: #fff;
			background: url(../img/userpic.gif) no-repeat;
		}
			.upload__preview {
				-webkit-transition: opacity .3s ease;
				-moz-transition: opacity .3s ease;
				transition: opacity .3s ease;
			}

			.upload__progress {
				color: #fff;
			}

			.upload__link,
			.upload__progress {
				top: 45%;
				width: 100%;
				position: absolute;
				text-align: center;
			}

			.upload__progress,
			.upload_active .upload__link { display: none; }

			.upload_active .upload__preview { opacity: .75; }
			.upload_active .upload__progress { display: block; }
	