@RenderPage("~/Views/Shared/_Header.cshtml")
@RenderPage("~/Views/Shared/_SideBar.cshtml")
<style>

    .form-tabs .nav-link {
        font-size: 1rem;
    }

    .modal-xlg {
        width: 900px !important;
        max-width: 1000px !important;
    }
</style>
<!-- START PAGE-CONTAINER -->
<div class="page-container">

    @RenderPage("~/Views/Shared/_NavBar.cshtml")
    <!-- START PAGE CONTENT WRAPPER -->
    <div class="page-content-wrapper">
        <!-- START PAGE CONTENT -->
        <div class="content">
            <!-- START JUMBOTRON -->
            <div class="jumbotron w-100" style="position: fixed; z-index: 400">
                <div class="container-fluid container-fixed-lg">
                    <!-- <div class="inner"> -->
                    <div class="row align-items-center">
                        <div class="col-md-8">
                            <h3>Bowel Movement Tracking</h3>
                        </div>
                    </div>
                    <!-- </div> -->
                </div>
            </div>
            <!-- END JUMBOTRON -->
            <div style="height: 60px;"></div>
            <!-- START CONTAINER FLUID -->
            <div class="container-fluid container-fixed-lg">
                <!-- BEGIN PlACE PAGE CONTENT HERE -->
                <div class="card">
                    <div class="card-block">
                        <div class="row">
                            <div class="col-md-12">
                                <h5>Days</h5>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="staticEmail" class="col-form-label">Type</label>
                                    <select class="form-control">
                                        <option selected="selected" value="0">Select</option>
                                        <option value="Type 1">Type 1</option>
                                        <option value="Type 2">Type 2</option>
                                        <option value="Type 3">Type 3</option>
                                        <option value="Type 4">Type 4</option>
                                        <option value="Type 5">Type 5</option>
                                        <option value="Type 6">Type 6</option>
                                        <option value="Type 7">Type 7</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="staticEmail" class="col-form-label">Observe by</label>
                                    <select class="form-control">
                                        <option selected="selected" value="0">Select</option>
                                        <option value="Record R">Record R</option>
                                        <option value="Record S">Record S</option>
                                        <option value="Record O">Record O</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="staticEmail" class="col-form-label">Initials</label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h5>Evening</h5>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="staticEmail" class="col-form-label">Type</label>
                                    <select class="form-control">
                                        <option selected="selected" value="0">Select</option>
                                        <option value="Type 1">Type 1</option>
                                        <option value="Type 2">Type 2</option>
                                        <option value="Type 3">Type 3</option>
                                        <option value="Type 4">Type 4</option>
                                        <option value="Type 5">Type 2</option>
                                        <option value="Type 6">Type 3</option>
                                        <option value="Type 7">Type 4</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="staticEmail" class="col-form-label">Observe by</label>
                                    <select class="form-control">
                                        <option selected="selected" value="0">Select</option>
                                        <option value="Record R">Record R</option>
                                        <option value="Record S">Record S</option>
                                        <option value="Record O">Record O</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="staticEmail" class="col-form-label">Initials</label>
                                    <select class="form-control">
                                        <option selected="selected" value="0">Select</option>
                                        <option value="Record R">Record R</option>
                                        <option value="Record S">Record S</option>
                                        <option value="Record O">Record O</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h5>Night</h5>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="staticEmail" class="col-form-label">Type</label>
                                    <select class="form-control">
                                        <option selected="selected" value="0">Select</option>
                                        <option value="Type 1">Type 1</option>
                                        <option value="Type 2">Type 2</option>
                                        <option value="Type 3">Type 3</option>
                                        <option value="Type 4">Type 4</option>
                                        <option value="Type 5">Type 2</option>
                                        <option value="Type 6">Type 3</option>
                                        <option value="Type 7">Type 4</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="staticEmail" class="col-form-label">Observe by</label>
                                    <select class="form-control">
                                        <option selected="selected" value="0">Select</option>
                                        <option value="Record R">Record R</option>
                                        <option value="Record S">Record S</option>
                                        <option value="Record O">Record O</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="staticEmail" class="col-form-label">Initials</label>
                                    <select class="form-control">
                                        <option selected="selected" value="0">Select</option>
                                        <option value="Record R">Record R</option>
                                        <option value="Record S">Record S</option>
                                        <option value="Record O">Record O</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <br>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label for="staticEmail" class="col-form-label">Follow Up</label>
                                    <input type="text" class="form-control" id="staticEmail">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <br>
                                <button class="btn btn-danger btn-lg">SAVE</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- END PLACE PAGE CONTENT HERE -->
            </div>
            <!-- END CONTAINER FLUID -->
        </div>
        <!-- END PAGE CONTENT -->
        @RenderPage("~/Views/Shared/_Footer.cshtml")
