@RenderPage("~/Views/Shared/_Header.cshtml")
@RenderPage("~/Views/Shared/_SideBar.cshtml")

<style>

    .form-tabs .nav-link {
        font-size: 1rem;
    }

    .modal-xlg {
        width: 900px !important;
        max-width: 1000px !important;
    }
</style>
<!-- START PAGE-CONTAINER -->
<div class="page-container">

    @RenderPage("~/Views/Shared/_NavBar.cshtml")

    <!-- START PAGE CONTENT WRAPPER -->
    <div class="page-content-wrapper">
        <!-- START PAGE CONTENT -->
        <div class="content">
            <!-- START JUMBOTRON -->
            <div class="jumbotron w-100" style="position: fixed; z-index: 400">
                <div class="container-fluid container-fixed-lg">
                    <!-- <div class="inner"> -->
                    <div class="row align-items-center">
                        <div class="col-md-8">
                            <h3>HSEP Tracking Record</h3>
                        </div>
                    </div>
                    <!-- </div> -->
                </div>
            </div>
            <!-- END JUMBOTRON -->
            <div style="height: 60px;"></div>
            <!-- START CONTAINER FLUID -->
            <div class="container-fluid container-fixed-lg">
                <!-- BEGIN PlACE PAGE CONTENT HERE -->

                <div class="card">
                    <div class="card-block">
                        <table class="table table-bordered">
                            <thead class="bg-primary">
                                <tr>
                                    <td></td>
                                    <th class="text-white text-center">Walking</th>
                                    <th class="text-white text-center">Wall Push-ups</td>
                                    <th class="text-white text-center">Rise Up on toes</th>
                                    <th class="text-white text-center">Toe Taps</td>
                                    <th class="text-white text-center">Seat Walk</th>
                                    <th class="text-white text-center">Get up from chair</td>
                                    <th class="text-white text-center">Leg Lift</th>
                                    <th class="text-white text-center">Reaching</th>
                                    <th class="text-white text-center">Standing Stretch</th>
                                    <th class="text-white text-center">Seated Stretch</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>DATE OF INITIAL TEACHING</td>
                                    <td><input type="text" class="form-control" id="staticEmail"></td>
                                    <td><input type="text" class="form-control" id="staticEmail"></td>
                                    <td><input type="text" class="form-control" id="staticEmail"></td>
                                    <td><input type="text" class="form-control" id="staticEmail"></td>
                                    <td><input type="text" class="form-control" id="staticEmail"></td>
                                    <td><input type="text" class="form-control" id="staticEmail"></td>
                                    <td><input type="text" class="form-control" id="staticEmail"></td>
                                    <td><input type="text" class="form-control" id="staticEmail"></td>
                                    <td><input type="text" class="form-control" id="staticEmail"></td>
                                    <td><input type="text" class="form-control" id="staticEmail"></td>
                                </tr>
                                <tr>
                                    <td>TRAINER SIGNATURE</td>
                                    <td><input type="text" class="form-control" id="staticEmail"></td>
                                    <td><input type="text" class="form-control" id="staticEmail"></td>
                                    <td><input type="text" class="form-control" id="staticEmail"></td>
                                    <td><input type="text" class="form-control" id="staticEmail"></td>
                                    <td><input type="text" class="form-control" id="staticEmail"></td>
                                    <td><input type="text" class="form-control" id="staticEmail"></td>
                                    <td><input type="text" class="form-control" id="staticEmail"></td>
                                    <td><input type="text" class="form-control" id="staticEmail"></td>
                                    <td><input type="text" class="form-control" id="staticEmail"></td>
                                    <td><input type="text" class="form-control" id="staticEmail"></td>
                                </tr>
                            </tbody>
                        </table>


                        <br><br>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h5>Using a check mark, indicate which exercises client completes for each day</h5>
                            </div>

                            <table class="table table-bordered">
                                <thead class="bg-primary">
                                    <tr>
                                        <td></td>
                                        <th class="text-white text-center">Sunday</th>
                                        <th class="text-white text-center">Monday</td>
                                        <th class="text-white text-center">Tuesday</th>
                                        <th class="text-white text-center">Wednessday</td>
                                        <th class="text-white text-center">Thursday</th>
                                        <th class="text-white text-center">Friday</td>
                                        <th class="text-white text-center">Saturday</th>
                                        <th class="text-white text-center">Check all</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Walking</td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                    </tr>
                                    <tr>
                                        <td>Wall Push-ups</td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                    </tr>
                                    <tr>
                                        <td>Rise Up on toes</td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                    </tr>
                                    <tr>
                                        <td>Toe Taps</td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                    </tr>
                                    <tr>
                                        <td>Seat Walk</td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                    </tr>
                                    <tr>
                                        <td>Get up from chair</td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                    </tr>
                                    <tr>
                                        <td>Leg Lift</td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                    </tr>
                                    <tr>
                                        <td>Reaching</td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                    </tr>
                                    <tr>
                                        <td>Standing Stretch</td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                    </tr>
                                    <tr>
                                        <td>Seated Stretch</td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <br>
                                <button class="btn btn-danger btn-lg">SAVE</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- END PLACE PAGE CONTENT HERE -->
            </div>
            <!-- END CONTAINER FLUID -->
        </div>
        <!-- END PAGE CONTENT -->
        @RenderPage("~/Views/Shared/_Footer.cshtml")