@RenderPage("~/Views/Shared/_Header.cshtml")
@RenderPage("~/Views/Shared/_SideBar.cshtml")

<style>

    .form-tabs .nav-link {
        font-size: 1rem;
    }

    .modal-xlg {
        width: 900px !important;
        max-width: 1000px !important;
    }

    #checklist_button {
        font-size: 1.2vw;
        font-weight: bolder;
        margin: -0.5vw 0 -0.5vw 60vw;
        height: 3vw;
        width: 15vw;
        font-family: "Segoe UI", Arial, sans-serif;
        border-radius: 1vw;
        background-color: white;
    }
</style>

<style>
    div div div div[class="modal-body"] {
        overflow: auto;
        overflow-x: hidden;
        max-height: 80vh;
    }

    .miketable {
        width: 100%;
        color: black;
    }

        .miketable thead th {
            padding: 1vw;
        }

        .miketable tbody tr {
            height: 3vw;
        }

            .miketable tbody tr td {
                padding: 1vw;
            }

    input[type=checkbox] {
        /* Double-sized Checkboxes */
        -ms-transform: scale(2); /* IE */
        -moz-transform: scale(2); /* FF */
        -webkit-transform: scale(2); /* Safari and Chrome */
        -o-transform: scale(2); /* Opera */
        padding: 10px;
    }

    /* Might want to wrap a span around your checkbox text */
    .checkboxtext {
        /* Checkbox text */
        font-size: 110%;
        display: inline;
    }
</style>

<script>
    function print_click() {
        var pages = ["", "", "", "", ""];
        pages[0] = ("/Content/PDF/14_Pharmacy.pdf");
        pages[1] = ("/Content/PDF/16_Alberta DNR_Goals of Care.pdf");
        pages[2] = ("/Content/PDF/18_19_Sara Pendant & Wander Guard.pdf");
        pages[3] = ("/Content/PDF/20_HCA Task Sheet.pdf");
        pages[4] = ("/Content/PDF/20_LPN Task Sheet.pdf");
        var a = $('input[class="printchoose"]');
        if (a[0].checked == true) {
            var oWindow = window.open(pages[0], '_blank', 'fullscreen=yes');
            oWindow.print();
        }
        if (a[1].checked == true) {
            var oWindow = window.open(pages[1], '_blank', 'fullscreen=yes');
            oWindow.print();
        }
        if (a[2].checked == true || a[3].checked == true) {
            var oWindow = window.open(pages[2], '_blank', 'fullscreen=yes');
            oWindow.print();
        }
        if (a[4].checked == true) {
            var oWindow = window.open(pages[3], '_blank', 'fullscreen=yes');
            oWindow.print();
        }
        if (a[5].checked == true) {
            var oWindow = window.open(pages[4], '_blank', 'fullscreen=yes');
            oWindow.print();
        }
        for (var b = 0; b < a.length; b++) {
            a[b].checked = false;
        }

    }

    function print_all_click() {
        var oWindow = window.open('/Content/PDF/All-merged.pdf', '_blank', 'fullscreen=yes');
        oWindow.print();
        var a = $('input[class="printchoose"]');
        for (var b = 0; b < a.length; b++) {
            a[b].checked = false;
        }
    }


    function view_data() {
        $.get("/Assessments/get_checklist_data", {}, function (data) {
            if (data != "") {
                var c = data.split(",");
                var row = $('input[class="comTask"]');
                for (var e = 0; e < row.length; e++) {
                    var last = row[e].parentElement.parentElement.lastElementChild
                    var previous = last.previousElementSibling;
                    last.innerHTML = c[e * 2 + 1];
                    previous.innerHTML = c[e * 2];
                    //last.append(a[b * 2 + 1]);
                    //previous.append(a[b * 2]);
                    if (c[e * 2] != "") {
                        row[e].checked = true;
                        row[e].disabled = true;
                    }
                }
            }
        });
    }




    function save_button() {
        var a = $('input[class="comTask"]');
        var arraymike = [];
        for (var b = 0; b < a.length; b = b + 1) {
            if (a[b].checked == true && a[b].disabled == false) {
                arraymike.push("checked");
            }
            else if (a[b].checked == false && a[b].disabled == false) {
                arraymike.push("unchecked");
            }
            else {
                arraymike.push("disabled");
            }
        }
        jQuery.ajaxSettings.traditional = true;
        $.get("/Assessments/saveButtonMain", { arrayMain: arraymike }, function (data) {
            if (data != "") {
                var c = data.split(",");
                var row = $('input[class="comTask"]');
                for (var e = 0; e < row.length; e++) {
                    var last = row[e].parentElement.parentElement.lastElementChild
                    var previous = last.previousElementSibling;
                    last.innerHTML = c[e * 2 + 1];
                    previous.innerHTML = c[e * 2];
                    //last.append(a[b * 2 + 1]);
                    //previous.append(a[b * 2]);
                    if (c[e * 2] != "") {
                        row[e].checked = true;
                        row[e].disabled = true;
                    }
                }
            }
        });



    }

</script>

<style>
    p.active {
        background-color: #015093 !important;
        border-color: #015093 !important;
    }
</style>

<!-- START PAGE-CONTAINER -->
<div class="page-container">

    @RenderPage("~/Views/Shared/_NavBar.cshtml")

    <!-- START PAGE CONTENT WRAPPER -->
    <div class="page-content-wrapper">
        <!-- START PAGE CONTENT -->
        <div class="content">

            <div class="modal fade" id="checklist" role="dialog" style="right:0;margin-top:-3vw;">
                <div class="modal-dialog" style="left:0;right:0;max-width:100%;width:80vw;">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="" style="font-weight:bold;font-size:1.8vw;">Admission Checklist</h4>
                        </div>
                        <div class="modal-body">

                            <br>
                            <div style="display:inline-block;width:98%">
                                <button type="button" class="btn btn-primary" onclick="print_click()">Print Selected</button>
                                <button type="button" class="btn btn-primary" onclick="print_all_click()">Print All</button>
                                <button type="button" class="btn btn-primary" onclick="save_button()" style="float:right;">Save</button>
                            </div>
                            <br>
                            <br>


                            <table class="miketable table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width:4vw;">Completed Task</th>
                                        <th style="width:4vw;">Print Options</th>
                                        <th style="width:3vw;"></th>
                                        <th>Table</th>
                                        <th style="width:12vw;">Date</th>
                                        <th style="width:12vw;">Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr><td><input type="checkbox" class="comTask" value="1"></td><td></td><td>1</td><td>Resident File/Chart</td><td></td><td></td></tr>
                                    <tr><td><input type="checkbox" class="comTask" value="2"></td><td></td><td>2</td><td><a href="~/Assessments/HeadToToeAssessment">Pre-admission physical received / SL4/SL4D Care Plan received</a></td><td></td><td></td></tr>
                                    <tr><td><input type="checkbox" class="comTask" value="3"></td><td></td><td>3</td><td>Admission information sheet reviewed</td><td></td><td></td></tr>
                                    <tr><td><input type="checkbox" class="comTask" value="4"></td><td></td><td>4</td><td>Doctor coverage checked</td><td></td><td></td></tr>
                                    <tr><td><input type="checkbox" class="comTask" value="5"></td><td></td><td>5</td><td>Emergency call bells shown and explained</td><td></td><td></td></tr>
                                    <tr><td><input type="checkbox" class="comTask" value="6"></td><td></td><td>6</td><td>Added to bath (discussed preference) and laundry list (if applicable)</td><td></td><td></td></tr>
                                    <tr><td><input type="checkbox" class="comTask" value="7"></td><td></td><td>7</td><td>Meal sitting and meal times reviewed</td><td></td><td></td></tr>
                                    <tr><td><input type="checkbox" class="comTask" value="8"></td><td></td><td>8</td><td>Ensure they know reception telephone number</td><td></td><td></td></tr>
                                    <tr><td><input type="checkbox" class="comTask" value="9"></td><td></td><td>9</td><td>explain visitors signing in and out at reception when visiting</td><td></td><td></td></tr>
                                    <tr><td><input type="checkbox" class="comTask" value="10"></td><td></td><td>10</td><td>Medications</td><td></td><td></td></tr>
                                    <tr><td><input type="checkbox" class="comTask" value="11"></td><td></td><td>11</td><td>Photographs available</td><td></td><td></td></tr>
                                    <tr><td><input type="checkbox" class="comTask" value="12"></td><td></td><td>12</td><td>Progress notes following visitation</td><td></td><td></td></tr>
                                    <tr><td><input type="checkbox" class="comTask" value="13"></td><td></td><td>13</td><td><a href="~/Assessments/HeadToToeAssessment">Vitals signs and weight taken and recored</a></td><td></td><td></td></tr>
                                    <tr><td><input type="checkbox" class="comTask" value="14"></td><td><input class="printchoose" type="checkbox" value="14"></td><td>14</td><td>Admission form to pharmacy</td><td></td><td></td></tr>
                                    <tr><td><input type="checkbox" class="comTask" value="15"></td><td></td><td>15</td><td><a href="~/Assessments/CarePlan">Plan of care initiated</a></td><td></td><td></td></tr>
                                    <tr><td><input type="checkbox" class="comTask" value="16"></td><td><input class="printchoose" type="checkbox" value="16"></td><td>16</td><td>Goals of Care discussed and package given</td><td></td><td></td></tr>
                                    <tr><td><input type="checkbox" class="comTask" value="17"></td><td></td><td>17</td><td>Inform all departments of New Admission</td><td></td><td></td></tr>
                                    <tr><td><input type="checkbox" class="comTask" value="18"></td><td><input class="printchoose" type="checkbox" value="18"></td><td>18</td><td>Sara Pendent</td><td></td><td></td></tr>
                                    <tr><td><input type="checkbox" class="comTask" value="19"></td><td><input class="printchoose" type="checkbox" value="19"></td><td>19</td><td>Wander Guard</td><td></td><td></td></tr>
                                    <tr><td><input type="checkbox" class="comTask" value="20"></td><td><input class="printchoose" type="checkbox" value="20_1"></td><td>20</td><td>HCA task sheet or LPN task Sheet<input type="checkbox" class="printchoose" value="20_2" style="margin-left:2vw;"></td><td></td><td></td></tr>
                                    <tr><td><input type="checkbox" class="comTask" value="21"></td><td></td><td>21</td><td><a href="~/Assessments/DietaryHistory">Modified Diet</a></td><td></td><td></td></tr>
                                    <tr><td><input type="checkbox" class="comTask" value="22"></td><td></td><td>22</td><td>QOLA-Quality of Life Assessment</td><td></td><td></td></tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>


            <!-- START JUMBOTRON -->
            <div class="jumbotron w-100" style="position: fixed; z-index: 400">
                <div class="container-fluid container-fixed-lg">
                    <!-- <div class="inner"> -->
                    <div class="row align-items-center">
                        <div class="col-md-8">
                            <h3>Assessments</h3>
                        </div>

                        @{
                            if (@TempData["archive"].ToString() == "YES")
                            {
                                <div id="Resident_Archive_label" class="row align-items-center" style="margin-left:12vw;border:black solid;padding-left:1vw;padding-right:1vw;">
                                    <h3>Resident Archive</h3>
                                </div>
                            }
                        }


                    </div>
                    <!-- </div> -->
                </div>
            </div>
            <!-- END JUMBOTRON -->
            <div style="height: 60px;"></div>
            <!-- START CONTAINER FLUID -->
            <div class="container-fluid container-fixed-lg">
                <!-- BEGIN PlACE PAGE CONTENT HERE -->
                <div class="card">
                    <div class="card-block">

                        <div class="list-group">
                            <p href="#" class="list-group-item list-group-item-action active">
                                List of Forms
                                <button id="checklist_button" data-toggle="modal" data-target="#checklist" onclick="view_data()">Admission Checklist</button>
                            </p>
                            <a href="~/Assessments/HeadToToeAssessment2" class="list-group-item list-group-item-action">Admission Head to Toe Assessment</a>
                            <a href="~/Assessments/CarePlan" class="list-group-item list-group-item-action ">Resident Care Assessment</a>
                            <a href="~/Assessments/FallRisk" class="list-group-item list-group-item-action ">Fall Risk Assessment</a>
                            <a href="~/Assessments/Activity" class="list-group-item list-group-item-action ">Activity Assessment</a>
                            <a href="~/Assessments/DietaryHistory" class="list-group-item list-group-item-action">Dietary Assessment</a>
                            <a href="~/Assessments/BowelMovement" class="list-group-item list-group-item-action">Bowel Movement Tracking</a>
                            <a href="~/Assessments/FamilyConference" class="list-group-item list-group-item-action">Family Conference Notes</a>
                            <a href="~/Assessments/ExerciseActivity" class="list-group-item list-group-item-action">Exercise Activity</a>
                            @*<a href="~/Assessments/HSEPTracking" class="list-group-item list-group-item-action">HSEP Tracking Record</a>*@
                            <a href="~/Assessments/PostFallClinicalMonitoringA" class="list-group-item list-group-item-action">Post-Fall Clinical Monitoring A</a>
                            <a href="~/Assessments/PostFallClinicalMonitoringB" class="list-group-item list-group-item-action">Post-Fall Clinical Monitoring B</a>
                            <a href="~/Assessments/UnusualIncident" class="list-group-item list-group-item-action ">Unusual Incident Report</a>
                            <a href="~/Assessments/SBSWTL" class="list-group-item list-group-item-action">Bath / Shower Temperature Log</a>
                            <a href="~/Assessments/CUOL" class="list-group-item list-group-item-action">Catheter Urine Output Log</a>
                            <a href="~/Assessments/OCCC" class="list-group-item list-group-item-action">Oral Care Competency Checklist</a>
                            <a href="~/Assessments/OCTF" class="list-group-item list-group-item-action">Oral Care Tracking Form</a>
                            <a href="~/Assessments/MRAF" class="list-group-item list-group-item-action">Managed Risk Agreement Form</a>
                            @*<a href="~/Assessments/SpecificGoals" class="list-group-item list-group-item-action ">Residents Goals</a>*@
                        </div>
                    </div>
                </div>

                <!-- END PLACE PAGE CONTENT HERE -->
            </div>
            <!-- END CONTAINER FLUID -->
        </div>
        <!-- END PAGE CONTENT -->

        @RenderPage("~/Views/Shared/_Footer.cshtml")

