@model QolaMVC.ViewModels.ExcerciseActivityViewModel
@{
    ViewBag.Title = "TUG_CLICK";
}

@RenderPage("~/Views/Shared/_Header.cshtml")
@RenderPage("~/Views/Shared/_SideBar.cshtml")

<style>
    #Q1 p,input{
        display:inline-block;
    }
    #checkbox1{
        margin-left:15vw;
    }
    #checkbox2 {
        margin-left: 5vw;
    }


</style>


<div class="page-container">
    @RenderPage("~/Views/Shared/_NavBar.cshtml")
    <div class="page-content-wrapper">
        <div class="content">
            <div class="jumbotron w-100" style="position: fixed; z-index: 400">
                <div class="container-fluid container-fixed-lg">
                    <div class="row align-items-center">
                        <div class="col-md-8">
                            <h3>Timed Up-and-Go (TUG) Test Score Sheet</h3>
                        </div>                    
                    </div>
                </div>
            </div>

            <div style="height: 60px;"></div>

            <div class="container-fluid container-fixed-lg">
                <div class="card">
                    @using (Html.BeginForm("", "Assessments"))
                    {

                    <div class="card-block" id="details">
                        <div class="row" id="Q1">
                            <div class="col-md-12">
                                <b>Gait Aid used for the TUG test?</b>
                                <input id="checkbox1" type="checkbox" />
                                <p>Yes</p>
                                <input id="checkbox2" type="checkbox" />
                                <p>No</p>
                            </div>
                        </div>

                        <div class="row" id="Q2">
                            <div class="col-md-12">
                                <p>If <b>Yes</b>, specify:</p>
                            </div>
                            <div class="col-md-6">
                                <input id="checkbox3" type="checkbox" />
                                <label>Cane</label>
                                <br>
                                <input id="checkbox4" type="checkbox" />
                                <label>Wheeled Walker (4 Wheels)</label>
                                <br>
                                <input id="checkbox5" type="checkbox" />
                                <label>Solid Walker (No Wheels)</label>
                            </div>
                            <div class="col-md-6">
                                <input id="checkbox6" type="checkbox" />
                                <label>Quad Cane</label>
                                <br>
                                <input id="checkbox7" type="checkbox" />
                                <label>Walker (2 Wheels, 2 Solid Feet)</label>
                                <br>
                                <input id="checkbox8" type="checkbox" />
                                <label>Other, Specify: <input type="text" /></label>
                            </div>
                        </div>

                        <div class="row" id="Q3">
                            <div class="col-md-12">
                                <b>Difficulties observed during the TUG test</b>
                            </div>
                            <br>
                            <div class="col-md-6">
                                <input id="checkbox9" type="checkbox" />
                                <label>Getting out of the chair</label>
                                <br>
                                <input id="checkbox10" type="checkbox" />
                                <label>Turning</label>
                                <br>
                                <input id="checkbox11" type="checkbox" />
                                <label>Sitting Down</label>
                            </div>
                            <div class="col-md-6">
                                <input id="checkbox12" type="checkbox" />
                                <label>Walking</label>
                                <br>
                                <input id="checkbox13" type="checkbox" />
                                <label>Standing</label>
                                <br>
                                <input id="checkbox14" type="checkbox" />
                                <label>Balance</label>
                                <br>
                                <input id="checkbox15" type="checkbox" />
                                <label>Other, Specify: <input type="text" /></label>
                            </div>
                        </div>
                    </div>
                    }


                </div>

                <!-- END PLACE PAGE CONTENT HERE -->
            </div>
            <!-- END CONTAINER FLUID -->
        </div>
        <!-- END PAGE CONTENT -->
        @RenderPage("~/Views/Shared/_Footer.cshtml")




