@*@RenderPage("~/Views/Shared/_Header.cshtml")
    @RenderPage("~/Views/Shared/_SideBar.cshtml")*@
<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Calendar Plugin</title>

    <link rel="stylesheet" href="/Content/calendar/css/calendar-plugin.min.css" media="all" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <script src="~/Content/calendar/plugins/jquery/jquery.min.js"></script>
    <!-- <script src="plugins/jquery-ui/jquery-ui.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>
    <script src="~/Content/calendar/js/calendar-plugin.js"></script>

    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="apple-touch-icon" href="~/Content/pages/ico/60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/pages/ico/76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Content/pages/ico/120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Content/pages/ico/152.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta content="" name="description" />
    <meta content="" name="author" />
    @*  @Styles.Render("~/Content/css")*@
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">

    <link href="/Content/bootstrap.css" rel="stylesheet">
    <link href="/Content/site.css" rel="stylesheet">
    <link href="/Content/assets/plugins/pace/pace-theme-flash.css" rel="stylesheet">
    <link href="/Content/assets/plugins/bootstrap/css/bootstrap.min.css" " rel="stylesheet">
    <link href="/Content/assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/Content/assets/plugins/jquery-scrollbar/jquery.scrollbar.css" rel="stylesheet">
    <link href="/Content/assets/plugins/select2/css/select2.min.css" rel="stylesheet">
    <link href="/Content/assets/plugins/switchery/css/switchery.min.css" rel="stylesheet">
    <link href="/Content/pages/css/pages-icons.css" rel="stylesheet">
    <link href="/Content/assets/css/pages.css" rel="stylesheet">
    <link href="/Content/assets/css/datatables.css" rel="stylesheet">
    <link href="/Content/assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
</head>

<body>
    <!-- START PAGE-CONTAINER -->
    <div class="page-container">

        @*@RenderPage("~/Views/Shared/_NavBar.cshtml")*@

        <!-- START PAGE CONTENT WRAPPER -->
        <div class="page-content-wrapper">
            <!-- START PAGE CONTENT -->
            <div class="content">
                <!-- START JUMBOTRON -->
                <div class="jumbotron w-100" style="position: fixed; z-index: 400">
                    <div class="container-fluid container-fixed-lg">
                        <!-- <div class="inner"> -->
                        <div class="row align-items-center">
                            <div class="col-md-8">
                                <h3>Activity Calendar</h3>
                            </div>
                        </div>
                        <!-- </div> -->
                    </div>
                </div>
                <!-- END JUMBOTRON -->
                <div style="height: 60px;"></div>
                <!-- START CONTAINER FLUID -->
                <div class="container-fluid container-fixed-lg">
                    <!-- BEGIN PlACE PAGE CONTENT HERE -->

                    <div class="card">
                        <div class="card-block">

                            <div class="form-tabs mt-4">
                                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="pills-active-tab" data-toggle="pill" href="#pills-active" role="tab" aria-controls="pills-active" aria-selected="true">Calendar one</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="pills-achive-tab" data-toggle="pill" href="#pills-achive" role="tab" aria-controls="pills-achive" aria-selected="false">Calendar two</a>
                                    </li>

                                </ul>
                                <div class="tab-content" id="pills-tabContent">
                                    <div class="tab-pane fade show active" id="pills-active" role="tabpanel" aria-labelledby="pills-active-tab">
                                        <div style='position: relative; float: left; width: 100%;'>
                                            <section id='calendar'></section>
                                        </div>


                                        <script type='text/javascript'>
                        var l_Categories = {};

                        $.ajax({
                            type: 'get',
                            url: '@Url.Action("getCategoriesForCalendar")',
                            dataType: 'json',
                            success: function (data) {
                                //l_Categories = data;
                              //console.log(data);

                                for (var i = 0; i < data.length; i++ ) {
                                    l_Categories[data[i].Id] = data[i].Name;
                                }
                                console.log(l_Categories);
                                initCalendar();
                            },
                            error: function (ex) {
                                var r = jQuery.parseJSON(response.responseText);
                                alert("Message: " + r.Message);
                                alert("StackTrace: " + r.StackTrace);
                                alert("ExceptionType: " + r.ExceptionType);
                            }
                        });



                        function initCalendar() {
                             $('#calendar').CalendarPlugin({
                                 url: '/Home/getEvents',
                                 view: 'daily',
                            form: [
                                [
                                    {
                                        type: 'text',
                                        name: 'title',
                                        label: 'Activity Display Title',
                                        placeholder: 'E.g. Marathon'
                                    }

                                ],
                                [
                                    {
                                        type: 'select',
                                        name: 'activity',
                                        label: 'Activity *',
                                        placeholder: 'Select',
                                        options: l_Categories
                                    }
                                ],
                                [
                                    {
                                        type: 'radio',
                                        name: 'frequency',
                                        label: 'Frequency',
                                        placeholder: 'Select',
                                        options: { 1: 'Date & Time', 2: 'Every Weekday', 3: 'Date between' }
                                    }
                                ],
                                [
                                    {
                                        type: 'datetime',
                                        name: 'startDate',
                                        label: 'Date & Time',
                                        placeholder: 'DD/MM/YYYY',
                                        bindTo: {
                                            name: 'input[name="frequency"]',
                                            when: '1'
                                        }
                                    }
                                ],
                                [
                                    {
                                        type: 'select',
                                        name: 'weekDay',
                                        label: 'Week Day',
                                        placeholder: 'Select',
                                        options: { Monday: 'Monday', Tuesday: 'Tuesday', Wednesday: 'Wednesday', Thursday: 'Thursday', Friday: 'Friday', Saturday: 'Saturday', Sunday: 'Sunday' },
                                        bindTo: {
                                            name: 'input[name="frequency"]',
                                            when: '2'
                                        }
                                    }
                                ],
                                [
                                    {
                                        type: 'date',
                                        name: 'DateFrom',
                                        label: 'Date From',
                                        placeholder: 'DD/MM/YYYY',
                                        bindTo: {
                                            name: 'input[name="frequency"]',
                                            when: '3'
                                        }
                                    }
                                ],
                                [
                                    {
                                        type: 'date',
                                        name: 'DateTo',
                                        label: 'Date To',
                                        placeholder: 'DD/MM/YYYY',
                                        bindTo: {
                                            name: 'input[name="frequency"]',
                                            when: '3'
                                        }
                                    }
                                ],
                                [
                                    {
                                        type: 'time',
                                        name: 'time',
                                        label: 'Time',
                                        bindTo: {
                                            name: 'input[name="frequency"]',
                                            when: '3'
                                        }
                                    }
                                ],
                                [
                                    {
                                        type: 'select',
                                        name: 'venue',
                                        label: 'Venue',
                                        placeholder: 'Select',
                                        options: { 0:'NaN' }
                                    }
                                ]
                            ]
                        });
                        }
                                        </script>
                                    </div>
                                    <div class="tab-pane fade" id="pills-achive" role="tabpanel" aria-labelledby="pills-achive-tab">

                                        <div style='position: relative; float: left; width: 100%;'>
                                            <section id='calendar2'></section>
                                        </div>


                                        <script type='text/javascript'>
                      

 var l_Categories2 = {};

                        $.ajax({
                            type: 'get',
                            url: '@Url.Action("getCategoriesForCalendar")',
                            dataType: 'json',
                            success: function (data) {
                                //l_Categories = data;
                              //console.log(data);

                                for (var i = 0; i < data.length; i++ ) {
                                    l_Categories2[data[i].Id] = data[i].Name;
                                }
                                console.log(l_Categories2);
                                initCalendar2();
                            },
                            error: function (ex) {
                                var r = jQuery.parseJSON(response.responseText);
                                alert("Message: " + r.Message);
                                alert("StackTrace: " + r.StackTrace);
                                alert("ExceptionType: " + r.ExceptionType);
                            }
                        });


                        function initCalendar2() {
                             $('#calendar2').CalendarPlugin({
                                 url: '/Home/getEvents',
                                 view: 'monthly',
                            form: [
                                [
                                    {
                                        type: 'text',
                                        name: 'title',
                                        label: 'Activity Display Title',
                                        placeholder: 'E.g. Marathon'
                                    }

                                ],
                                [
                                    {
                                        type: 'select',
                                        name: 'activity',
                                        label: 'Activity *',
                                        placeholder: 'Select',
                                        options: l_Categories2
                                    }
                                ],
                                [
                                    {
                                        type: 'radio',
                                        name: 'frequency',
                                        label: 'Frequency',
                                        placeholder: 'Select',
                                        options: { 1: 'Date & Time', 2: 'Every Weekday', 3: 'Date between' }
                                    }
                                ],
                                [
                                    {
                                        type: 'datetime',
                                        name: 'startDate',
                                        label: 'Date & Time',
                                        placeholder: 'DD/MM/YYYY',
                                        bindTo: {
                                            name: 'input[name="frequency"]',
                                            when: '1'
                                        }
                                    }
                                ],
                                [
                                    {
                                        type: 'select',
                                        name: 'weekDay',
                                        label: 'Week Day',
                                        placeholder: 'Select',
                                        options: { Monday: 'Monday', Tuesday: 'Tuesday', Wednesday: 'Wednesday', Thursday: 'Thursday', Friday: 'Friday', Saturday: 'Saturday', Sunday: 'Sunday' },
                                        bindTo: {
                                            name: 'input[name="frequency"]',
                                            when: '2'
                                        }
                                    }
                                ],
                                [
                                    {
                                        type: 'date',
                                        name: 'DateFrom',
                                        label: 'Date From',
                                        placeholder: 'DD/MM/YYYY',
                                        bindTo: {
                                            name: 'input[name="frequency"]',
                                            when: '3'
                                        }
                                    }
                                ],
                                [
                                    {
                                        type: 'date',
                                        name: 'DateTo',
                                        label: 'Date To',
                                        placeholder: 'DD/MM/YYYY',
                                        bindTo: {
                                            name: 'input[name="frequency"]',
                                            when: '3'
                                        }
                                    }
                                ],
                                [
                                    {
                                        type: 'time',
                                        name: 'time',
                                        label: 'Time',
                                        bindTo: {
                                            name: 'input[name="frequency"]',
                                            when: '3'
                                        }
                                    }
                                ],
                                [
                                    {
                                        type: 'select',
                                        name: 'venue',
                                        label: 'Venue',
                                        placeholder: 'Select',
                                        options: { 0:'NaN' }
                                    }
                                ]
                            ]
                        });
                        }
                                        </script>
                                    </div>
                                </div>
                            </div>









                        </div>
                    </div>


                    <!-- END PLACE PAGE CONTENT HERE -->
                </div>

                <div class="container-fluid container-fixed-lg">

                </div>
                <!-- END CONTAINER FLUID -->
            </div>
            <!-- END PAGE CONTENT -->
</body>


</html>

<script src="~/Content/assets/plugins/pace/pace.min.js" type="text/javascript"></script>
<script src="~/Content/assets/plugins/modernizr.custom.js" type="text/javascript"></script>
<script src="~/Content/assets/plugins/tether/js/tether.min.js" type="text/javascript"></script>
<script src="~/Content/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="~/Content/assets/plugins/jquery/jquery-easy.js" type="text/javascript"></script>
<script src="~/Content/assets/plugins/jquery-unveil/jquery.unveil.min.js" type="text/javascript"></script>
<script src="~/Content/assets/plugins/jquery-bez/jquery.bez.min.js"></script>
<script src="~/Content/assets/plugins/jquery-ios-list/jquery.ioslist.min.js" type="text/javascript"></script>
<script src="~/Content/assets/plugins/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="~/Content/assets/plugins/jquery-actual/jquery.actual.min.js"></script>
<script src="~/Content/assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js"></script>
<!-- END VENDOR JS -->
<!-- BEGIN CORE TEMPLATE JS -->
<script src="~/Content/pages/js/pages.js" type="text/javascript"></script>
<!-- END CORE TEMPLATE JS -->
<!-- BEGIN PAGE LEVEL JS -->
<script src="~/Content/assets/js/scripts.js" type="text/javascript"></script>
<!-- END PAGE LEVEL JS -->
<script src="~/Content/assets/js/FileAPI/FileAPI.js"></script>
<script src="~/Content/assets/js/datatables.min.js"></script>
<script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="~/Content/assets/js/html2canvas.js" crossorigin="anonymous"></script>