@model QolaMVC.Models.Dining_Attendance_simple
@RenderPage("~/Views/Shared/_Header.cshtml")
@RenderPage("~/Views/Shared/_SideBar.cshtml")
<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Calendar Plugin</title>

    @*<link rel="stylesheet" href="/Content/calendar/css/calendar-plugin.min.css" media="all" />*@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    @*<script src="~/Content/calendar/plugins/jquery/jquery.min.js"></script>*@
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>
    @*<script src="~/Content/calendar/js/calendar-plugin.js"></script>*@

    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="apple-touch-icon" href="~/Content/pages/ico/60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/pages/ico/76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Content/pages/ico/120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Content/pages/ico/152.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    <link href="/Content/bootstrap.css" rel="stylesheet">
    <link href="/Content/site.css" rel="stylesheet">
    <link href="/Content/assets/plugins/pace/pace-theme-flash.css" rel="stylesheet">
    <link href="/Content/assets/plugins/bootstrap/css/bootstrap.min.css" " rel="stylesheet">
    <link href="/Content/assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/Content/assets/plugins/jquery-scrollbar/jquery.scrollbar.css" rel="stylesheet">
    <link href="/Content/assets/plugins/select2/css/select2.min.css" rel="stylesheet">
    <link href="/Content/assets/plugins/switchery/css/switchery.min.css" rel="stylesheet">
    <link href="/Content/pages/css/pages-icons.css" rel="stylesheet">
    <link href="/Content/assets/css/pages.css" rel="stylesheet">
    <link href="/Content/assets/css/datatables.css" rel="stylesheet">
    <link href="/Content/assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">


        <link href="~/Content/fullCalendar/css/fullcalendar.css" rel="stylesheet" />
        <script src="~/Content/fullCalendar/lib/jquery.min.js"></script>
        <script src="~/Content/fullCalendar/lib/moment.min.js"></script>
        <script src="~/Content/fullCalendar/js/fullcalendar.js"></script>



</head>

<body id="mike">
    <!-- START PAGE-CONTAINER -->
    <div class="page-container">

        @RenderPage("~/Views/Shared/_NavBar.cshtml")

        <!-- START PAGE CONTENT WRAPPER -->
        <div class="page-content-wrapper">
            <!-- START PAGE CONTENT -->
            <div class="content">
                <!-- START JUMBOTRON -->
                <div class="jumbotron w-100" style="position: fixed; z-index: 400">
                    <div class="container-fluid container-fixed-lg">
                        <!-- <div class="inner"> -->
                        <div class="row align-items-center">
                            <div class="col-md-8">
                                <h3>Activity Calendar</h3>
                            </div>
                        </div>
                        <!-- </div> -->
                    </div>
                </div>
                <!-- END JUMBOTRON -->
                <div style="height: 60px;"></div>
                <!-- START CONTAINER FLUID -->
                <div class="container-fluid container-fixed-lg">
                    <div class="card">
                        <div class="card-block">
                            <div class="form-tabs mt-4">
                                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="pills-active-tab" data-toggle="pill" href="#pills-active" role="tab" aria-controls="pills-active" aria-selected="true">Calendar one</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="pills-achive-tab" data-toggle="pill" href="#pills-achive" role="tab" aria-controls="pills-achive" aria-selected="false">Calendar two</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="pills-achive-tab2" data-toggle="pill" href="#pills-C3" role="tab" aria-controls="pills-C3" aria-selected="false">Calendar three</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="pills-achive-tab3" data-toggle="pill" href="#pills-C4" role="tab" aria-controls="pills-C4" aria-selected="false">Calendar four</a>
                                    </li>
                                </ul>

                                <div class="tab-content" id="pills-tabContent">

                                    <div class="tab-pane fade show active" id="pills-active" role="tabpanel" aria-labelledby="pills-active-tab">
                                        <div style='position: relative; float: left; width: 100%;'>
                                            <section id='calendar'></section>
                                        </div>



                                    </div>

                                    <div class="tab-pane fade" id="pills-achive" role="tabpanel" aria-labelledby="pills-achive-tab">
                                        <div style='position: relative; float: left; width: 100%;'>
                                            <section id='calendar2'></section>
                                        </div>


                                    </div>

                                    <div class="tab-pane fade" id="pills-C3" role="tabpanel" aria-labelledby="pills-achive-tab2">

                                        <div style='position: relative; float: left; width: 100%;'>
                                            <section id='calendar3'></section>
                                        </div>



                                    </div>

                                    <div class="tab-pane fade" id="pills-C4" role="tabpanel" aria-labelledby="pills-achive-tab3">

                                        <div style='position: relative; float: left; width: 100%;'>
                                            <section id='calendar4'></section>
                                        </div>



                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END CONTAINER FLUID -->
                </div>
                <!-- END PAGE CONTENT -->
            </div>
        </div>
    </div>














    @*@RenderPage("~/Views/Shared/_Footer.cshtml")*@
</body>
</html>


<script src="~/Content/assets/plugins/pace/pace.min.js" type="text/javascript"></script>
<script src="~/Content/assets/plugins/modernizr.custom.js" type="text/javascript"></script>
<script src="~/Content/assets/plugins/tether/js/tether.min.js" type="text/javascript"></script>
<script src="~/Content/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="~/Content/assets/plugins/jquery/jquery-easy.js" type="text/javascript"></script>
<script src="~/Content/assets/plugins/jquery-unveil/jquery.unveil.min.js" type="text/javascript"></script>
<script src="~/Content/assets/plugins/jquery-bez/jquery.bez.min.js"></script>
<script src="~/Content/assets/plugins/jquery-ios-list/jquery.ioslist.min.js" type="text/javascript"></script>
<script src="~/Content/assets/plugins/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="~/Content/assets/plugins/jquery-actual/jquery.actual.min.js"></script>
<script src="~/Content/assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js"></script>
<!-- END VENDOR JS -->
<!-- BEGIN CORE TEMPLATE JS -->
<script src="~/Content/pages/js/pages.js" type="text/javascript"></script>
<!-- END CORE TEMPLATE JS -->
<!-- BEGIN PAGE LEVEL JS -->
<script src="~/Content/assets/js/scripts.js" type="text/javascript"></script>
<!-- END PAGE LEVEL JS -->
<script src="~/Content/assets/js/FileAPI/FileAPI.js"></script>
<script src="~/Content/assets/js/datatables.min.js"></script>
<script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="~/Content/assets/js/html2canvas.js" crossorigin="anonymous"></script>

<script>
    $(function () {
        $("#calendar").fullCalendar({
            theme: true,
            customButtons: {
                button1: {
                    text: "新建",
                    click: function () {
                        $(".datepicker").datepicker({
                            language: "zh-CN",
                            format: "yyyy-mm-dd",
                            todayHighlight: true,
                            autoclose: true,
                            weekStart: 0
                        });
                        $(".timepicki").wickedpicker({
                            title: '',
                            showSeconds: true,
                            twentyFour: true
                        });
                        $("#isallday").click(function () {
                            if ($("#isallday").prop("checked") == true) {
                                $("#isallday").val("1");
                                $("#starttime,#endtime").hide();
                            } else {
                                $("#isallday").val("0");
                                $("#starttime,#endtime").show();
                            };
                        });
                        $("#end").click(function () {
                            if ($("#end").prop("checked") == true) {
                                $("#enddate").show();
                            } else {
                                $("#enddate").hide();
                            };
                        });
                        $("#repeat").click(function () {
                            if ($("#repeat").prop("checked") == true) {
                                $("#repeattype,#repeattime").show();
                            } else {
                                $("#repeattype,#repeattime").hide();
                            };
                        });
                        $("#repeatselect").change(function () {
                            switch ($("#repeatselect").val()) {
                                case "1":
                                    $("#repeatclock").show();
                                    $("#repeatmonth,#repeatweek,#repeatday").hide();
                                    break;
                                case "2":
                                    $("#repeatmonth,#repeatday").hide();
                                    $("#repeatweek,#repeatclock").show();
                                    break;
                                case "3":
                                    $("#repeatmonth,#repeatweek").hide();
                                    $("#repeatday,#repeatclock").show();
                                    break;
                                case "4":
                                    $("#repeatweek").hide();
                                    $("#repeatmonth,#repeatday,#repeatclock").show();
                                    break;
                                case "5":
                                    $("#repeatclock").show();
                                    $("#repeatmonth,#repeatweek,#repeatday").hide();
                                    break;
                            }
                        });
                        dialog({
                            title: "新建日程",
                            content: $("#dialog-form"),
                            okValue: "确定",
                            ok: function () {
                                var titledetail = $("#titledetail").val();
                                var startdate = $("#startdate").val();
                                var starttime = $("#starttime").val().split(" ").join("");
                                var enddate = $("#stopdate").val();
                                var endtime = $("#endtime").val().split(" ").join("");
                                var allDay = $("#isallday").val();
                                if (titledetail) {
                                    $.ajax({
                                        url: 'http://localhost/fullcalendar/detail.php',
                                        data: { title: titledetail, sdate: startdate, stime: starttime, edate: enddate, etime: endtime, allDay: allDay },
                                        type: 'POST',
                                        dataType: 'json',
                                        success: function (data) {
                                            $("#calendar").fullCalendar("renderEvent", data, true);
                                        },
                                        error: function () {
                                            alert("Failed");
                                        }

                                    });
                                };
                            },
                            cancelValue: "关闭",
                            cancel: function () {
                                //$("#ui-datepicker-div").remove();
                            }
                        }).showModal();
                    }
                },
                button2: {
                    text: "查询",
                    click: function () {
                        $(".datepicker").datepicker({
                            language: "zh-CN",
                            format: "yyyy-mm-dd",
                            todayHighlight: true,
                            autoclose: true,
                            weekStart: 0
                        });
                        dialog({
                            title: "查询",
                            content: $("#search"),
                            okValue: "查询",
                            ok: function () {
                                $("#ui-datepicker-div").remove();
                            },
                            button: [{
                                value: "打印"
                            }],
                            cancelValue: "返回",
                            cancel: function () {
                                $("#ui-datepicker-div").remove();
                            }
                        }).showModal();
                    }
                },
                button3: {
                    text: "设置",
                    click: function () {
                        $("#slider").slider({
                            range: true,
                            min: 0,
                            max: 24,
                            values: [8, 18],
                            slide: function (event, ui) {
                                $("#amount").val(ui.values[0] + ":00 - " + ui.values[1] + ":00");

                            }
                        });
                        $("#amount").val($("#slider").slider("values", 0) +
                            ":00 - " + $("#slider").slider("values", 1) + ":00");
                        dialog({
                            title: "设置时间段",
                            content: $("#set"),
                            okValue: "确定",
                            ok: function () {
                                var minTime = $("#slider").slider("values", 0) + ":00:00";
                                var maxTime = $("#slider").slider("values", 1) + ":00:00";
                                $("#calendar").fullCalendar("option", "minTime", minTime);
                                $("#calendar").fullCalendar("option", "maxTime", maxTime);
                            },
                            cancelValue: "关闭",
                            cancel: function () { }
                        }).showModal();
                    }
                }
            },
            header: {
                left: 'prev,next today button3',
                center: 'title',
                right: 'button1 button2 month,agendaWeek,agendaDay,listMonth'
            },
            firstDay: 1,
            monthNames: ["1月", "2月", "3月", "4月", "5月", "6月", "7月", "8月", "9月", "10月", "11月", "12月"],
            monthNamesShort: ["1月", "2月", "3月", "4月", "5月", "6月", "7月", "8月", "9月", "10月", "11月", "12月"],
            dayNames: ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六"],
            dayNamesShort: ["日", "一", "二", "三", "四", "五", "六"],
            buttonText: {
                today: "今天",
                month: "月",
                week: "周",
                day: "天",
                listMonth: "列表"
            },
            allDayDefault: false,
            slotLabelFormat: "H",
            businessHours: {
                dow: [1, 2, 3, 4, 5],
                start: "8:00",
                end: "17:00"
            },
            allDaySlot: true,
            allDayText: "全天",
            timeFormat: "HH:mm",//设置的是添加的具体的日程上显示的时间
            views: {
                month: {
                    titleFormat: "YYYY年M月"
                },
                week: {
                    titleFormat: "YYYY年M月D日",
                    columnFormat: "M.D dddd"
                },
                day: {
                    titleFormat: "YYYY年M月D日 dddd",
                    columnFormat: "M/D dddd"
                }
            },
            dayClick: function (date, allDay, jsEvent, view) {
                var selDate = $.fullCalendar.formatDate(date, "YYYY-MM-DD");
                var d = dialog({
                    title: "新建事件",
                    content: "<textarea rows=5 class='taxt' placeholder='内容' id='eventall'></textarea><p>" + selDate + "</p>",
                    width: 460,
                    button: [{
                        value: "完整编辑",
                        callback: function () {
                            $(".datepicker").datepicker({
                                language: "zh-CN",
                                format: "yyyy-mm-dd",
                                todayHighlight: true,
                                autoclose: true,
                                weekStart: 0
                            });
                            $(".timepicki").wickedpicker({
                                title: '',
                                showSeconds: true,
                                twentyFour: true
                            });
                            $("#isallday").click(function () {
                                if ($("#isallday").prop("checked") == true) {
                                    $("#isallday").val("1");
                                    $("#starttime,#endtime").hide();
                                } else {
                                    $("#isallday").val("0");
                                    $("#starttime,#endtime").show();
                                };
                            });
                            $("#end").click(function () {
                                if ($("#end").prop("checked") == true) {
                                    $("#enddate").show();
                                } else {
                                    $("#enddate").hide();
                                };
                            });
                            $("#repeat").click(function () {
                                if ($("#repeat").prop("checked") == true) {
                                    $("#repeattype,#repeattime").show();
                                } else {
                                    $("#repeattype,#repeattime").hide();
                                };
                            });
                            $("#repeatselect").change(function () {
                                switch ($("#repeatselect").val()) {
                                    case "1":
                                        $("#repeatclock").show();
                                        $("#repeatmonth,#repeatweek,#repeatday").hide();
                                        break;
                                    case "2":
                                        $("#repeatmonth,#repeatday").hide();
                                        $("#repeatweek,#repeatclock").show();
                                        break;
                                    case "3":
                                        $("#repeatmonth,#repeatweek").hide();
                                        $("#repeatday,#repeatclock").show();
                                        break;
                                    case "4":
                                        $("#repeatweek").hide();
                                        $("#repeatmonth,#repeatday,#repeatclock").show();
                                        break;
                                    case "5":
                                        $("#repeatclock").show();
                                        $("#repeatmonth,#repeatweek,#repeatday").hide();
                                        break;
                                }
                            });
                            dialog({
                                title: "新建日程",
                                content: $("#dialog-form"),
                                okValue: "确定",
                                ok: function () {
                                    var titledetail = $("#titledetail").val();
                                    var startdate = $("#startdate").val();
                                    var starttime = $("#starttime").val().split(" ").join("");
                                    var enddate = $("#stopdate").val();
                                    var endtime = $("#endtime").val().split(" ").join("");
                                    var allDay = $("#isallday").val();
                                    if (titledetail) {
                                        $.ajax({
                                            url: 'http://localhost/fullcalendar/detail.php',
                                            data: { title: titledetail, sdate: startdate, stime: starttime, edate: enddate, etime: endtime, allDay: allDay },
                                            type: 'POST',
                                            dataType: 'json',
                                            success: function (data) {
                                                $("#calendar").fullCalendar("renderEvent", data, true);
                                            },
                                            error: function () {
                                                alert("Failed");
                                            }

                                        });
                                    };
                                },
                                cancelValue: "关闭",
                                cancel: function () { }
                            }).showModal();
                        },
                    }],
                    okValue: "确定",
                    ok: function () {
                        var titleall = $("#eventall").val();
                        if (titleall) {
                            $.ajax({
                                url: 'http://localhost/fullcalendar/events.php',
                                data: { title: titleall, start: selDate },
                                type: 'POST',
                                dataType: 'json',
                                success: function (data) {
                                    $("#calendar").fullCalendar("renderEvent", data, true);
                                },
                                error: function () {
                                    alert("Failed");
                                }

                            });
                        };
                    },
                    cancelValue: "取消",
                    cancel: function () { }
                });
                d.showModal();

            },
            eventClick: function (event, jsEvent, view) {
                var editstarttime = $.fullCalendar.formatDate(event.start, "YYYY-MM-DD HH:mm:ss");
                $("#edittitle").html(event.title);
                var eventtitle = event.title;
                if (event.end) {
                    var editendtime = $.fullCalendar.formatDate(event.end, "YYYY-MM-DD HH:mm:ss");
                    $("#edittime").html(editstarttime + "  至  " + editendtime);
                } else {
                    $("#edittime").html(editstarttime);
                };
                // var time = '19:00:00';
                dialog({
                    title: "编辑日程",
                    content: $("#edit"),
                    okValue: "编辑",
                    ok: function () {
                        $(".datepicker").datepicker({
                            language: "zh-CN",
                            format: "yyyy-mm-dd",
                            todayHighlight: true,
                            autoclose: true,
                            weekStart: 0
                        });
                        $(".timepicki").wickedpicker({
                            // now: time,
                            title: '',
                            showSeconds: true,
                            twentyFour: true
                        });
                        $("#isallday").click(function () {
                            if ($("#isallday").prop("checked") == true) {
                                $("#isallday").val("1");
                                $("#starttime,#endtime").hide();
                            } else {
                                $("#isallday").val("0");
                                $("#starttime,#endtime").show();
                            };
                        });
                        $("#end").click(function () {
                            if ($("#end").prop("checked") == true) {
                                $("#enddate").show();
                            } else {
                                $("#enddate").hide();
                            };
                        });
                        $("#repeat").click(function () {
                            if ($("#repeat").prop("checked") == true) {
                                $("#repeattype,#repeattime").show();
                            } else {
                                $("#repeattype,#repeattime").hide();
                            };
                        });
                        $("#repeatselect").change(function () {
                            switch ($("#repeatselect").val()) {
                                case "1":
                                    $("#repeatclock").show();
                                    $("#repeatmonth,#repeatweek,#repeatday").hide();
                                    break;
                                case "2":
                                    $("#repeatmonth,#repeatday").hide();
                                    $("#repeatweek,#repeatclock").show();
                                    break;
                                case "3":
                                    $("#repeatmonth,#repeatweek").hide();
                                    $("#repeatday,#repeatclock").show();
                                    break;
                                case "4":
                                    $("#repeatweek").hide();
                                    $("#repeatmonth,#repeatday,#repeatclock").show();
                                    break;
                                case "5":
                                    $("#repeatclock").show();
                                    $("#repeatmonth,#repeatweek,#repeatday").hide();
                                    break;
                            }
                        });
                        dialog({
                            title: "新建日程",
                            content: $("#dialog-form"),
                            okValue: "确定",
                            ok: function () {
                                var titledetail = $("#titledetail").val();
                                var startdate = $("#startdate").val();
                                var starttime = $("#starttime").val().split(" ").join("");
                                var enddate = $("#stopdate").val();
                                var endtime = $("#endtime").val().split(" ").join("");
                                var allDay = $("#isallday").val();
                                if (titledetail) {
                                    $.ajax({
                                        url: 'http://localhost/fullcalendar/detail.php',
                                        data: { title: titledetail, sdate: startdate, stime: starttime, edate: enddate, etime: endtime, allDay: allDay },
                                        type: 'POST',
                                        dataType: 'json',
                                        success: function (data) {
                                            $("#calendar").fullCalendar("renderEvent", data, true);
                                        },
                                        error: function () {
                                            alert("Failed");
                                        }

                                    });
                                };
                            },
                            cancelValue: "关闭",
                            cancel: function () {
                                //$("#ui-datepicker-div").remove();
                            }
                        }).showModal();
                        $("#calendar").fullCalendar("removeEvents", function (event) {
                            if (event.title == eventtitle) {
                                return true;
                            } else {
                                return false;
                            }
                        });
                    },
                    button: [{
                        value: "删除",
                        callback: function () {
                            $("#calendar").fullCalendar("removeEvents", function (event) {
                                if (event.title == eventtitle) {
                                    return true;
                                } else {
                                    return false;
                                }
                            });
                        }
                    }],
                    cancelValue: "取消",
                    cancel: function () { }
                }).showModal();
            }

        });
    });
</script> 